@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cmzcg5');
  src:  url('fonts/icomoon.eot?cmzcg5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cmzcg5') format('truetype'),
    url('fonts/icomoon.woff?cmzcg5') format('woff'),
    url('fonts/icomoon.svg?cmzcg5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ROCAS:before {
  content: "\e901";
  color: #024b75;
}
.icon-Area-de-conservacion:before {
  content: "\e900";
  color: #024b75;
}
.icon-Arena:before {
  content: "\e903";
  color: #064b75;
}
.icon-Ballenas:before {
  content: "\e904";
  color: #064b75;
}
.icon-Buceo:before {
  content: "\e905";
  color: #064b75;
}
.icon-Estado-del-camino:before {
  content: "\e906";
  color: #064b75;
}
.icon-Mirador:before {
  content: "\e907";
  color: #064b75;
}
.icon-Oleaje:before {
  content: "\e908";
  color: #064b75;
}
.icon-Playa-virgen:before {
  content: "\e90a";
  color: #024b75;
}
.icon-Ruta-de-acceso:before {
  content: "\e90b";
  color: #064b75;
}
.icon-Snorkeling:before {
  content: "\e90c";
  color: #064b75;
}
.icon-Surf:before {
  content: "\e90d";
  color: #064b75;
}
.icon-Tortuga:before {
  content: "\e90e";
  color: #064b75;
}
.icon-Vegetacion:before {
  content: "\e90f";
  color: #064b75;
}
.icon-Vida-nocturna:before {
  content: "\e910";
  color: #064b75;
}
.icon-directions_walk:before {
  content: "\e91f";
}
