#setting-error-tgmpa{
	display:block !important;
}

/* categories Custom Color */
.column-color { width: 50px; }
.column-color .color-block { display: inline-block; width: 28px; height: 28px; border: 1px solid #ddd; }