@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .menu {
        float: left;
        width: 100%;
        height: auto;
        line-height: 100px;
        position: absolute;
        top: 163px;
        z-index: 999;
        background: white;
        padding: 0;
    }
    .menu li {
        display: inline-block;
        font-size: 17px;
        margin-right: 20px;
        width: 100%;
        border-bottom: solid 1px rgba(128, 128, 128, 0.26);
    }
    .menu .active a {
        background: #064b75;
        display: block;
        height: 100px;
        line-height: 100px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
        color: white;
    }
    .mobile-menu {
        width: 12%;
        float: left;
        height: 30px;
        display: block;
        position: absolute;
        right: 10px;
        top: 60px;
    }
    .menu li a {
        color: #064b75;
        text-decoration: none !Important;
        padding-left: 18px;
    }
    .flex-viewport {
        max-height: 538px !Important;
    }
    .flexslider .slides img {
        height: auto;
        width: 200%;
    }
}