@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xv8axu');
  src:  url('fonts/icomoon.eot?xv8axu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xv8axu') format('truetype'),
    url('fonts/icomoon.woff?xv8axu') format('woff'),
    url('fonts/icomoon.svg?xv8axu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hotel:before {
  content: "\e926";
}
