html{
  overflow: scroll;
overflow-x: hidden;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);
@font-face {
    font-family: 'sweet';
    src: url('../fonts/SweetSensationsPersonalUse.eot');
    src: url('../fonts/SweetSensationsPersonalUse.eot?#iefix') format('embedded-opentype'), url('../fonts/SweetSensationsPersonalUse.woff2') format('woff2'), url('../fonts/SweetSensationsPersonalUse.woff') format('woff'), url('../fonts/SweetSensationsPersonalUse.ttf') format('truetype'), url('../fonts/SweetSensationsPersonalUse.svg#SweetSensationsPersonalUse') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amarillo';
    src: url('fonts/amarillo/Amarillo.eot');
    src: local('fonts/amarillo/Amarillo'), url('fonts/amarillo/Amarillo.eot?#iefix') format('embedded-opentype'), url('fonts/amarillo/Amarillo.woff2') format('woff2'), url('fonts/amarillo/Amarillo.woff') format('woff'), url('fonts/amarillo/Amarillo.ttf') format('truetype'), url('fonts/amarillo/Amarillo.svg#Amarillo') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'roboto';
}

p {
    font-size: 16px;
    line-height: 28px;
}

h2,
.parallax-content h2 {
    font-family: 'sweet';
    font-size: 6vw;
}


/*ELIMINA EL FOCUS*/
button:focus {
    outline: none !Important;
}

input:focus {
    outline: none !Important;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    position: relative;
    padding: 15px;
}

.login-menu ul {
    padding: 0;
    text-align: right;
}

.login-menu li {
    display: inline-block;
    margin-right: 10px;
}

.flexslider .form-control {
    border-radius: 0px;
    height: 60px;
    padding-left: 46px;
    border: none;
    background: rgba(255, 255, 255, 0.78);
    text-transform: uppercase;
    color: #064b75;
    font-family: raleway;
    font-weight: 600;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 18px;
    font-weight: 100;
}

.filtros-list .sub-list {
    position: absolute;
    background: white;
    padding: 0;
    list-style: none;
    top: 49px;
    width: 100%;
    display: none;
    z-index: 999;
}

.sin-padding {
    padding: 0;
}

.filtros-btn {
    background: #064b75 !important;
    color: #ffffff !important;
    width: 100%;
    display: inline-block;
    height: 50px;
    transition: all 500ms ease;
    font-size: 15px;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

.lbl-bs {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

.filtros-btn:hover {
    background: #337ab7;
    transition: all 500ms ease;
}

.filtros-btn:hover span,
.filtros-btn:hover .icono {
    color: #d0d0d0;
    transition: all 500ms ease;
}

.filtros-btn span {
    line-height: 50px;
    padding-left: 80px;
    padding-right: 10px;
}

.filtros-btn .icono {
    position: absolute;
    right: 10px;
    top: 14px !important;
}

.sub-list li {
    padding: 10px;
    border-bottom: solid 1px #e8e8e8;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
    color: rgb(216, 216, 216);
}

.logo-container {
    text-align: center;
    font-size: 30px;
    width: 16%;
    float: left;
    height: 80px;
    line-height: 80px;
}

.header-dashboard {
    background: #064b75;
    padding-left: 20px;
    color: white;
}

.header-dashboard ul {
    padding: 0;
}

.header-dashboard li {
    display: inline-block;
    vertical-align: middle;
}

.side_bar_btn a {
    color: #337ab7;
    text-decoration: none;
    display: inline-block;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
    font-size: 30px;
}

#side_bar {
    background: white;
    padding: 0;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.user_info {
    padding: 10px;
    background: #d5e3ef;
    min-height: 150px;
    background: url(../img/profile_bg.png);
    background-size: cover;
}

.user_info img {
    width: 80px;
}

.name {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.user_options-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #555;
}

.side_bar_menu {
    padding-top: 20px;
}

.side_bar_menu ul {
    padding: 0;
}

.side_bar_menu li a {
    display: inline-block;
    padding: 20px;
    width: 100%;
    color: grey;
    position: relative;
    transition: all 300ms ease;
}

.side_bar_menu li .active {
    background-color: #F3F3F3;
    transition: all 300ms ease;
}

.side_bar_menu li a:hover {
    background-color: #F3F3F3;
    transition: all 300ms ease;
}

.side_bar_menu li a i {
    margin-right: 10px;
}

.sub-menu-admin {
    background: #e6e6e6;
}

.side_bar_menu li a .fa-caret-down {
    position: absolute;
    right: 0;
    top: 23px;
}

.login-modal {
    background: rgba(255, 255, 255, 0.95);
    padding: 2%;
    width: 30%;
    position: relative;
    z-index: 999;
    transform: translate(-50%, -30%);
    top: 30%;
    left: 50%;
    border-radius: 10px;
    text-align: center;
    border-bottom: solid 8px #498dc7;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    background: rgba(40, 96, 144, 0.51);
}

.login-modal i {
    font-size: 80px;
    color: grey;
}

.btn-login {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 45px;
    border-radius: 8px;
    border-style: none;
    text-transform: uppercase;
    font-size: 16px;
    background: #555;
    color: white;
}

.form-control {
    height: 45px;
    margin-bottom: 1rem;
    border-radius: 30px;
    background: #FAFAFA;
}

.separator {
    position: relative;
    border-top: 1px solid #dcdcdc;
}

.separator:after {
    content: 'o';
    position: absolute;
    top: -15px;
    font-size: 18px;
    color: grey;
}

.btn-login-face i {
    font-size: 18px;
    color: white
}

.btn-login-face {
    background: #3B5998;
    width: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    font-size: 17px;
    line-height: 38px;
    transition: all 0.5 ease;
}

.btn-login-face:hover {
    background: #4767ab;
    color: white;
    transition: all 0.5 ease;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-modal i {
    font-size: 30px;
    color: #498dc7;
}

.logo-container img {
    display: inline-block;
    width: 300px;
}

nav.main-menu {
    float: left;
    width: 54%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.main-menu ul {
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 10px;
}

.main-menu li a,
.login-menu li a {
    padding: 6px;
    border-radius: 8px;
    color: #064b75;
    font-size: 17px;
    transition: all 500ms ease;
}

.main-menu li a.active,
.login-menu li a.active {
    background: #064b75;
    color: white;
}

.main-menu li a:hover,
.login-menu li a:hover {
    background: #064b75;
    transition: all 500ms ease;
    color: white;
}

.login-menu {
    width: 30%;
    float: left;
    height: 80px;
    line-height: 80px;
}

.formulario-busqueda {
       position: relative;
    z-index: 9;
    width: 800px;
    /* transform: translateY(-50%); */
    /* top: 50%; */
    /* left: 50%; */
    margin: 0 auto;
    padding-top: 120px;
}
}

.flexslider {
    border: none !Important;
}

.flex-control-nav {
    width: 120px !Important;
    position: absolute;
    top: 10px !Important;
    text-align: center;
    right: 10px !Important;
}

.flex-direction-nav .flex-next {
    right: 0px !Important;
    text-align: right;
}

.txt-center {
    text-align: center;
}

.txt-justify p{
    text-align: justify;
}


.formulario-busqueda h2,
.formulario-busqueda p {
    color: white
}

.social-media {
    width: 60px;
    position: fixed;
    z-index: 99;
    top: 30%;
    display: none;
}

.social-media ul {
    padding: 0;
    list-style: none
}

.social-media ul li a {
    background: rgba(255, 255, 255, 0.95);
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-bottom: 5px;
    line-height: 45px;
    text-align: center;
    border-top-right-radius: 10px;
    font-size: 30px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
    border-bottom-right-radius: 10px;
    transition: all 0.4s ease;
}

.social-media ul li a i {
    color: #064b75;
    transition: all 0.4s ease;
}

.btn-default-gp {
    background: linear-gradient(#064b75, #064b75);
    float: left;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

.btn-default-gp-v {
    background: transparent;
    border: solid 2px grey !Important;
    color: grey;
}

.parallax {
    background-attachment: fixed !Important;
    background-position: 50% 0;
    background-repeat: no-repeat !Important;
    height: 450px;
    position: relative;
}

.parallax-content {
    width: 80%;
    background: rgba(255, 255, 255, 0.65);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 20px;
}

section {
  margin-top: 5rem;
    margin-bottom: 1rem;
}

.slick-prev {
    position: absolute;
    bottom: 0;
    z-index: 99;
    right: 55px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.slick-next {
    position: absolute;
    bottom: 0;
    z-index: 99;
    right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

input[type=checkbox] {
    display: none;
}


.form-check-input{
  display: inline-block !important;
  height: 20px !important;
  min-width: 40px;

}

#surf + label {
    background: url('../img/sufr-cb.png');
    height: 30px;
    float: left;
    width: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 100% 100%;
}

#surf:checked + label {
    background: url('../img/sufr-cb-a.png');
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 100% 100%;
}

#buceo + label {
    background: url('../img/buceo-cb.png');
    height: 30px;
    float: left;
    width: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 100% 100%;
}

#buceo:checked + label {
    background: url('../img/buceo-cb-a.png');
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 100% 100%;
}

#aguac + label {
    background: url('../img/aguac-cb.png');
    height: 30px;
    float: left;
    width: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 100% 100%;
}

#aguac:checked + label {
    background: url('../img/aguac-cb-a.png');
    height: 30px;
    width: 30px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-size: 100% 100%;
}

.sub-list li span {
    float: left;
    margin-left: 12px;
    text-transform: uppercase;
    color: #064b75;
}

.flex-control-paging li a {
    background: rgb(255, 255, 255) !important;
    width: 20px !important;
    height: 20px !important;
}

.flex-control-paging li a.flex-active {
    background: linear-gradient(#55a6b8, #367cab) !important;
}

section h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #064b75;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

section span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.ui-menu-item {
    background: rgba(255, 255, 255, 0.95);
    padding: 10px;
    text-transform: uppercase;
    color: #064b75;
    position: relative;
    padding-left: 45px;
    border-bottom: solid 2px rgba(80, 80, 80, 0.22);
    cursor: pointer;
    transition: all .5s ease;
}

.ui-menu-item:hover {
    background: rgba(228, 228, 228, 0.95);
    transition: all .5s ease;
}

.ui-widget {
    padding: 0;
    list-style: none;
    width: 800px !Important;
    z-index: 1;
    overflow: hidden;
    margin-top: 2px !Important;
    padding-top: 0;
    min-height: 115px;
    z-index: 0;
    z-index: 9;
    background: rgba(245, 245, 245, 0.94);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ui-menu-item:after {
    content: ' ';
    position: absolute;
    top: 7px;
    left: 10px;
    background: url(../img/map-icon.png);
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
}

.header-dashboard h2 {
    font-size: 18px;
    font-family: 'roboto';
}

.panel-flat {
    margin-top: 2rem;
    border-bottom: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.panel-flat .header-panel h2 {
    font-size: 18px;
    font-family: roboto;
    text-transform: uppercase;
}

.panel-flat .header-panel {
    background: white;
    padding: 10px;
    width: 100%;
    float: left;
    border-bottom: solid 3px rgba(119, 119, 119, 0.26);
    position: relative;
}

.panel-flat .panel-body {
    float: left;
    width: 100%;
    background: #fdfdfd;
    padding: 20px;
}

.grey {
    background: #ddd;
}

.grey-2 {
    background: #ccc;
}


.mp_submenu {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    right: 0;
    width: 300px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(210, 210, 210, 0.9));
    height: 100%;
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.13);
}

.mp_submenu ul {
    padding: 0;
    list-style: none;
}

.mp_submenu li a {
    display: inline-block;
    background: #fff;
    width: 100%;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: #999;
    text-transform: uppercase;
    border-bottom: solid 1px rgba(221, 221, 221, 0.8);
    transition: all 0.5s ease;
}

.close-sm {
    position: absolute;
    left: 4px;
    z-index: 99999;
    background: rgba(185, 185, 185, 0.3);
    width: 35px;
    height: 35px;
    top: 8px;
    color: rgba(85, 85, 85, 0.41);
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    border-radius: 23px;
    text-align: center;
}

.mp_submenu .hp {
    padding: 30px;
    background: #f5f5f5;
}

.mp_submenu li a i {
    margin-right: 10px;
    color: rgba(6, 75, 117, 0.67);
    transition: all 300ms ease;
}

.mp_submenu li a:hover {
    background: #064b75;
    color: white;
    transition: all 0.5s ease;
}

.mp_submenu li a:hover i {
    color: white;
    transition: all 0.5s ease;
}

.header-panel ul {
    padding: 0;
    float: right;
}

.header-panel ul li {
    display: inline-block;
}

.header-panel ul li a {
    display: inline-block;
    background: #064b75;
    color: white;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding-right: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    text-transform: uppercase;
}

.actions-btn {
    background: #286090;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.69);
    border-radius: 8px;
    display: inline-block;
}

.modal-header {
    padding: 15px;
    background: #064b75;
    color: white;
    text-transform: uppercase;
}

.close {
    color: rgb(245, 245, 245);
    text-shadow: none;
    filter: alpha(opacity=90);
    opacity: .9;
}

.btn {
    border-radius: 25px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-default {
    color: #064b75;
    background-color: #fff;
    border-color: #064b75;
}

.notificacion {
    display: none;
    position: fixed;
    right: 2PX;
    z-index: 99;
    background: rgba(6, 75, 117, 0.95);
    color: rgba(255, 255, 255, 0.57);
    top: 10%;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    font-family: roboto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.29);
}

.notificacion h2 {
    font-size: 15px;
    font-family: roboto;
}

.notificacion p {
    font-size: 13px;
}

.notificacion .icono {
    float: left;
    width: 9%;
    color: #ffffff;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
}

.notificacion .contenido {
    float: left;
    width: 91%;
    padding-left: 18px;
}

.hp img {
    width: 400px;
    height: 250px;
    border-radius: 400px;
}

.mp_submenu p {
    background: #064b75;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.mp_submenu p span {
    color: rgba(255, 255, 255, 0.74);
}

.filters-img {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 6rem;
}

.filters-img h2 {
    font-size: 18px;
    font-family: roboto;
}

.filters-img li {
    display: inline-block;
    margin-left: 16px;
}

.flexslider .slides > li {
    position: relative;
}

.btn-search {
    width: 230px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    border: none;
    color: #064b75;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    background: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.btn-search span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.txt-center p {
    font-size: 25px;
    font-family: Raleway;
    margin-bottom: 10px;
}

.overlay-slider {
    position: absolute;
    background: linear-gradient(rgba(47, 149, 212, 0.48), rgba(7, 58, 88, 0.66));
    width: 100%;
    height: 100%;
}

.social-media ul li a:hover {
    background: #064b75;
    display: inline-block;
    height: 45px;
    width: 52px;
    transition: all 0.4s ease;
}

.social-media ul li a:hover i {
    color: white;
    transition: all 0.4s ease;
}

.margin-bottom {
    margin-bottom: 4rem;
}




.tour-item {
    height: 350px;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: all ease 0.6s;
}

.tour-item .info-basica {
    position: absolute;
    z-index: 8;
    background: rgba(255, 255, 255, 0.51);
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 10%;
}

.tour-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all ease 0.6s;
}

.tour-item:hover img {
    transform: scale(1.4) rotate(15deg);
    transition: all ease 0.4s;
}

.tour-item .overlay {
    position: absolute;
    z-index: 9;
    background: rgba(245, 245, 245, 0.77);
    width: 100%;
    height: 100%;
    top: 100%;
    padding: 20px;
    transition: all 0.6s ease;
}

.tour-item:hover .overlay {
    top: 0;
    transition: all 0.4s ease;
}

.tour-item .overlay h4 {
    font-size: 30px;
    font-family: Raleway;
    font-weight: 100;
    color: #064b75;
}

.tour-item .overlay span {
    font-weight: 800;
}

.tour-item .overlay .center {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.tour-item .overlay .center a {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    color: #064b75;
    border-color: #064b75;
    margin-top: 1rem;
}


.touritem .overlay .txt-justify p{
  font-weight: normal;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
    }
}

@keyframes zoom {
    from {
        transform: scale(1.2, 1.2);
    }
    to {
        transform: scale(1.6, 1.6);
    }
}

.playas-item {
    position: relative;
    overflow: hidden;
    height: 250px !Important;
    padding: 0;
}

.playas-item img {
    max-width: 150%;
    position: absolute;
}

.playas-item img:hover {
    opacity: 1;
    transition: all 0.7s ease;
}

#buscador_playas {
    position: relative;
    margin-bottom: 0;
}

.overlay-playas {
    position: absolute;
    top: 0;
    z-index: 9;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -9%);
    cursor: move;
}

#suscribete {
    position: relative;
}

#suscribete h2 {
    color: white;
    margin-bottom: 4rem;
}

#suscribete form {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#suscribete form input[type=text],
#suscribete form input[type=email] {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 10px;
}

#suscribete form input[type=submit] {
    position: relative;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    top: 4rem;
}

.footer {
    min-height: 40px;
    background: #064b75;
    color: white;
    padding: 40px;
    text-align: center;
    position: relative;
}

.footer ul {
    padding: 0;
    text-decoration: none;
}

.footer ul li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.footer ul li a {
    color: rgba(255, 255, 255, 0.58);
    font-size: 16px;
    font-family: Raleway;
}

.footer ul li a i {
    font-size: 30px;
    color: white;
}

.to_setupc {
    padding-top: 10%;
    background: white;
    background: -webkit-radial-gradient(white, white, #dbf1ff);
    background: -o-radial-gradient(white, white, #dbf1ff);
    background: -moz-radial-gradient(white, white, #dbf1ff);
    background: radial-gradient(white, white, #dbf1ff);
    padding-bottom: 10%;
    text-align: center;
    position: relative;
}

.to_setupc h2 {
    font-size: 25px;
    font-family: raleway;
    font-weight: 100;
}

.to_setupc span {
    font-weight: 800;
}

.to_setupc a {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
}

.setup-modal {
    display: none;
    position: fixed;
    z-index: 999;
    bottom: 0;
    height: 450px;
    background: rgb(255, 255, 255);
    width: 100%;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.14);
}

.close-setm {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #064b75;
    font-size: 18px;
    background: rgba(150, 215, 255, 0.46);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
}

.title-wizard h2 {
    font-size: 35px;
    font-family: raleway;
    margin-bottom: 7rem;
    text-align: center;
    border-bottom: solid 1px rgba(128, 128, 128, 0.13);
    height: 66px;
    background: #064b75;
    margin-top: 0;
    color: white;
    line-height: 66px;
}

.title-wizard .number {
    width: 50px;
    color: #96d7ff;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 46px;
    display: inline-block;
    border: solid 2px #96d7ff;
}

.step-arrows {
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 5rem;
    display: inline-block;
}

.step-arrows li {
    display: inline-block;
    margin-right: 30px;
}

.step-arrows li a {
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    display: inline-block;
    line-height: 48px;
    border-radius: 30px;
    border: solid 2px grey;
    color: grey;
    font-family: raleway;
}

.step {
    display: none;
}

.s-active {
    display: block;
}

.back-arrow {
    border-color: #064b75 !Important;
    background: #064b75;
    color: white !Important;
}

.step button,
.step input[type=button],
.step input[type=reset],
.step input[type=submit] {
    display: inline-block;
    border: none;
    position: relative;
    float: right;
}

.step-body {
    padding-left: 6%;
    padding-right: 6%;
    display: none;
}

.active {
    display: block;
    height: auto !Important;
}

.to-cintillo {
    height: 200px;
    position: relative;
    background: linear-gradient(rgba(82, 168, 220, 0.46), rgba(6, 75, 117, 0.75)), url(../img/travel_pattern.png);
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.to-cintillo .profile img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    float: left;
}

.to-cintillo .profile h2 {
    font-size: 20px;
    color: white;
    font-family: Raleway;
    line-height: 60px;
    float: left;
    margin-left: 20px;
}

#panel_reservaciones {
    padding-top: 5%;
    padding-bottom: 5%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: solid 6px;
    border-bottom-color: #064b75;
    padding: 10px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
    font-family: Raleway;
    padding: 0;
    font-size: 18px;
    margin-right: 1px;
    background: red;
    padding-bottom: 2px;
    color: rgba(255, 255, 255, 0.52);
    cursor: default;
    background-color: #023d5d;
    border: none;
    border-bottom: solid 6px;
    border-bottom-color: #023d5d;
    padding: 10px;
}

.reservaciones-list {
    padding: 0;
    list-style: none;
}

.reservaciones-list li img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.reservaciones-list li {
    padding: 10px;
    background: #fbfbfb;
    border-bottom: solid 3px rgba(128, 128, 128, 0.27);
    height: 94px;
    margin: 0;
    line-height: 70px;
}

#mis_tours {
    background: white;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0px;
}

.section-header .tool-section-bar,
.panel-heading .tool-section-bar {
    padding: 0;
    list-style: none;
    float: right;
}

.section-header h2,
.panel-title h3 {
    float: left;
}

.section-header .tool-section-bar li,
.panel-heading .tool-section-bar li {
    display: inline-block;
}

.section-header .tool-section-bar li a,
.panel-heading .tool-section-bar li a {
    display: inline-block;
    height: 50px;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: solid 2px;
    color: #064b75;
    font-family: Raleway;
    text-transform: UPPERCASE;
}

.section-header .tool-section-bar li a i,
.panel-heading .tool-section-bar li a i {
    margin-left: 10px;
}

.panel-heading .tool-section-bar li a {
    color: #f5f5f5;
}

.section-header {
    width: 100%;
    float: left;
    height: 100px;
    line-height: 100px;
}

.img-topbar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 8px;
}

.codigo_comercio {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    line-height: 100px;
    background: rgba(6, 75, 117, 0.75);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 84px;
    font-family: Raleway;
}

.modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(6, 75, 117, 0.38);
    z-index: 9;
    display: none;
}

.btn_perfil:hover {
    background: transparent !Important;
    color: grey !Important;
}

.tab-content>.tab-pane {
    padding-top: 3%;
    padding-bottom: 3%;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #064b75;
    border-color: #064b75;
    height: 80px;
    line-height: 63px;
}

.panel-title {
  margin-top: 5px;
margin-bottom: 5px;
    font-size: 30px;
    color: inherit;
    display: inline-block;
    font-family: Raleway;
    width: 100%;
}

.panel-body {
    padding: 15px;
    background: #eaeaea;
}

.reservaciones-list p {
    display: inline-block;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 18px;
    color: grey;
}

.table-striped>tbody>tr {
    height: 80px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    vertical-align: middle;
    font-size: 18px;
    color: grey;
    font-family: Raleway;
}

input[type=search] {
    -webkit-appearance: none;
    height: 50px;
    width: 232px;
    border-radius: 60px;
    border: none;
    padding-left: 20px;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    background: #f9f9f9;
    border: solid #dddddd 1px;
}

button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    height: 50px;
    min-width: 180px;
    border: none;
    border-radius: 30px;
}

.modal-header .close {
    margin-top: -2px;
    text-align: right;
}

.fip-darkgrey.icons-selector {
    font-size: 16px;
    width: 100%;
}

td [class^="icon-"],
td [class*=" icon-"] {
    width: 60px;
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #2077ad;
    background: #e6e6e6;
}

.td-center {
    text-align: center;
}

.link-target {
    height: 25px;
}

.simditor .simditor-popover .settings-field input[type=text] {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    font-size: 12px;
    height: 26px;
    border: solid 1px rgba(128, 128, 128, 0.33);
    border-radius: 0px;
}


}
.panel-card {
    padding: 30px;
    background: #f3f3f3;
    border-radius: 8px;
    border: solid 1px rgba(128, 128, 128, 0.22);
}
#map {
    height: 448px;
    width: 100%;
}
#pac-input {
    z-index: 0;
    position: absolute;
    right: 10px !Important;
    top: 8px !Important;
    width: 319px;
    left: auto !important;
    padding-left: 23px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.12);
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 12px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    height: 45px;
    line-height: 35px;
    background: #064b75;
    color: white;
}
.croppie-container .cr-boundary {
    width: 100% !important;
}
.img-destacada {
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
.img-destacada .overlay {
    position: absolute;
    top: 100%;
    background: rgba(6, 75, 117, 0.61);
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.img-destacada .overlay i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.img-destacada:hover .overlay {
    top: 0;
    transition: all 0.5s ease;
}
.galeria-playa ul {
    padding: 0;
    list-style: none;
}
.galeria-playa li img {
    width: 100%;
    height: 120px;
}
.galeria-playa li {
    width: 32.7%;
    display: inline-block;
    position: relative;
    margin-bottom: 4px;
}
.galeria-playa li a {
    position: absolute;
    background: #607D8B;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    top: 5px;
    left: 5px;
}
.galeria-playa .overlay {
    position: absolute;
    background: rgba(60, 79, 88, 0.66);
    width: 100%;
    height: 100%;
    top: 0;
}
.galery-header {
    margin-bottom: 2rem;
    background: #f3f3f3;
    padding: 8px;
    color: grey;
    text-transform: uppercase;
}
.galery-header h4 {
    float: left;
}
.galery-header a {
    float: right;
    font-size: 14px;
}
.fonc {
    font-size: 14px !Important;
}
.galeria-playa li i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.video-yotube {
    display: none;
}
.galery-type input[type=radio] {
    display: none;
}
.galery-type #imageg + label {
    padding-left: 31px;
    display: inline-block;
    line-height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.galery-type #imageg:checked + label {
    background-position: 0 -24px;
    -webkit-filter: inherit;
    filter: inherit;
}
.galery-type label {
    background-image: url('http://comolove.com/goplaya/theme/img/imageg.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background-position: center !Important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.galery-type2 input[type=radio] {
    display: none;
}
.galery-type2 #videog + label {
    padding-left: 31px;
    display: inline-block;
    line-height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.galery-type2 #videog:checked + label {
    background-position: 0 -24px;
    -webkit-filter: inherit;
    filter: inherit;
}
.galery-type2 label {
    background-image: url('http://comolove.com/goplaya/theme/img/videog.png');
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background-position: center !Important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.txtcenter {
    text-align: center;
}
.gsp {
    background: whitesmoke;
    padding-top: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.caracteristicas ul {
    padding: 0;
    list-style: none;
}
.caracteristicas ul li {
    background: #607d8b;
    padding: 10px;
    color: rgba(255, 255, 255, 0.85);
    text-transform: uppercase;
    position: relative;
    width: 49%;
    display: inline-flex;
    margin-top: 3px;
    border-radius: 8px;
}
.caracteristicas ul li i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.caracteristicas li a {
    position: absolute;
    right: 10px;
    color: white;
    background: #7a9fb1;
    text-align: center;
    width: 30px;
    border-radius: 30px;
}
.ctool {
    padding: 10px;
    background: #064b75;
    color: white;
}
.to-cintillo .profile h2 {
    text-transform: uppercase;
}
.to-cintillo .profile h2 span {
    font-weight: 100;
}
.simditor .simditor-body {
    background: #fafafa;
}
.dropdown {
    width: 100%;
}
#resultados_s_playas ul {
    padding: 0;
}
#resultados_s_playas {}
#resultados_s_playas li {
    display: inline-block;
}
#map2 {
    width: 100%;
    height: 613px;
}
.zonas_list {
    list-style: none;
}
.zonas_list li {
    float: left;
    width: 33%;
    text-align: left;
}
.zonas_list input[type=radio] {
    float: left;
}
.zonas_list label {
    margin-left: 1rem;
    margin-right: 1rem;
}
.iradio_flat-blue {
    float: left;
}
#resultados_s_playas .excerpt {
    padding: 20px
}
#resultados_s_playas .excerpt p {
    text-align: justify;
    font-size: 12px;
    line-height: 18px
}
#resultados_s_playas .exc {
    font-weight: 500;
    height: 124px;
    display: inline-block;
    overflow: hidden;
}
.label {
    font-size: 12px;
    margin-right: 3px;
}
.listing-map-popover,
.gm-style-iw {
    margin: 0;
    width: 260px !Important;
    height: auto;
}
.listing-map-popover .imagen {
    height: 180px;
    overflow: hidden;
}
.listing-map-popover img {
    width: 100%;
}
.geolocate-filters {
    position: absolute;
    width: 600px;
    height: 70px;
    background: rgb(251, 251, 251);
    z-index: 2;
    bottom: 0;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.btn-geolocate {
    z-index: 99;
    bottom: 23px;
    height: 50px;
    display: inline-block;
    line-height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    color: #064b75;
    text-transform: uppercase;
    border: solid 2px;
    float: left;
    width: 48%;
    text-align: center;
    margin-right: 1%;
}
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.af h3 {
    background: #064b75;
    color: white;
    font-weight: 300;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: capitalize;
}
.af .icheckbox_flat-blue {
    float: right;
}
.af .form-group {
    width: 94%;
    padding-left: 6%;
    border-bottom: dashed 2px grey;
    font-weight: 100;
    font-family: Raleway;
    color: #064b75;
    font-size: 16px;
}
.filterbg {
    background: linear-gradient(#E0E0E0, white);
    border-radius: 30px;
    display: none;
}
.btnf {
    float: initial;
    display: inline-block;
    width: 55%;
}
.btnf2 {
    float: initial;
    display: inline-block;
    width: auto;
}
.ui-helper-hidden-accessible {
    display: none;
}
#galery {
    padding: 0;
    justify-content: center;
}
#galery li a {
    position: relative;
    display: inline-block;
    height: 300px;
    overflow: hidden;
}
#galery li .overlay {
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.46);
    font-size: 50px;
    color: white;
    transition: all .3s ease;
}
#galery li:hover .overlay {
    top: 0;
    transition: all .3s ease;
}
#galery li img {
    width: 180%;
    max-width: inherit;
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}
#galery li .overlay i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.af {
    min-height: 344px;
}
.fha {
    float: right;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    background: rgba(0, 159, 255, 0.37);
    border-radius: 40px;
    text-align: center;
    width: 24px;
    margin-top: -3px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    height: 24px;
}
.pside .form-group {
    background: #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.pside .form-group input {
    width: 100%;
}
.ge-mainControls .btn-group button {
    height: 20px;
}
#salvar {
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    color: #064b75;
    border-radius: 30px;
    border: solid 2px #064b75;
}
.tool-bar {
    background: #eeeeee;
    padding: 5px;
    text-align: right;
    float: left;
    width: 100%;
    border: solid 1px rgba(128, 128, 128, 0.64);
    position: relative;
    z-index: 1;
}
.tool-bar span {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: grey;
    padding-left: 10px;
}
.gm-preview,
.gm-edit-mode {
    display: none;
}
.dropdown button {
    background: transparent;
    border-radius: 0;
    width: 100%;
    color: grey;
    border: none;
}
.dropdown ul {
    height: auto;
    width: 100%;
}
.ge-mainControls .dropdown {
    width: 200px
}
.sin-padding {
    padding: 0 !important;
}
.banner-full-width img {
    width: 100% !Important;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-30 {
    padding: 30px;
}
.padding-40 {
    padding: 40px;
}
.padding-50 {
    padding: 50px;
}
.myGridc {
    float: left;
    width: 100%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto !important;
    margin-left: auto !important;
}
.error_banner {
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.19)), url(https://static.vecteezy.com/system/resources/previews/000/117/397/original/free-summer-beach-vector-illustration.jpg);
    height: 76vh;
    padding-top: 150px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.error_banner h3 {
    font-size: 4em;
}
.error_banner p {
    font-size: 2em;
}
.ge-mainControls {
    position: relative;
    min-height: 22px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    background: #eeeeee;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px rgba(128, 128, 128, 0.54);
}
.banner-article {
    padding: 0;
}
.banner-article img {
    width: 100%;
}
.banner-article-c {
    text-align: center;
}
.banner-article-c img {
    display: inline-block;
}
.article h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    float: left;
    width: 100%;
    text-align: center;
}
.center-article {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}
.gallery-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 0;
}
.gallery-article {
    list-style: none;
    display: inline-block;
}
.gallery-article li {
    float: left;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.gallery-article li img {
    max-width: 100%;
}
.gallery-article .item1 {
    width: 48%;
    height: 310px;
    margin-right: 10px;
}
.gallery-article .item2 {
    width: 23%;
    height: 150px;
    margin-right: 1%;
}
.gallery-article .item3 {
    width: 24%;
    height: 150px;
}
.gallery-article .item4 {
    width: 48%;
    height: 150px;
}
.gallery-article img {
    width: 100%;
    height: 100%;
}
.btn-corto {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
}
supports not (flex-wrap:wrap) {
    .gallery-article {
        display: block;
    }

    .gallery-article img {
        display: inline-block;
        vertical-align: top;
    }
}
.pside2 input[type=checkbox],
.pside2 input[type=radio] {
    width: auto;
    float: left;
    margin: 0;
    height: 20px;
    margin-right: 10px;
}
#medios li {
    list-style: none;
    margin-bottom: 10px;
}
.flexslider {
    margin: 0 0 0 !important;
}
.admin-bar {
    background: #023d5d;
    padding: 1px;
}
.nav-tabs {
    border-bottom: none;
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.08);
    border-bottom-color: #3789bc !important;
}
.slides ul {
    padding: 0;
    list-style: none;
}
.slides ul li {
    background: #EEEEEE;
    padding: 10px;
    border-bottom: solid 1px #d8d8d8;
    width: 100%;
    position: relative;
}
.slides ul li img {
    width: 150px;
    height: 100px;
}
.slides i {
    position: absolute;
    right: 9px;
    top: 50%;
    color: grey;
}
.save_ajax {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.68);
    z-index: 99999;
    top: 0;
    text-align: center;
    padding-top: 26%;
    display: none;
}
.precio {
    position: relative;
    color: white;
    width: 154px;
    height: 80px;
    line-height: 80px;
    padding-left: 18px;
    font-size: 25px;

}


.precio span {
    color: rgba(255, 255, 255, 0.59);
}
.activo {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background: #064b75;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
}
.center2 {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.center2 a {
    float: none;
    display: inline-block;
}
.tour-item2 .overlay {
    position: absolute;
    z-index: 9;
    background: rgba(245, 245, 245, 0.92);
    width: 100%;
    height: 100%;
    top: 100%;
    padding: 20px;
    transition: all 0.6s ease;
}
.custom-tabs {
    background: #EEEEEE;
    text-align: center;
    padding-top: 10px
}
.custom-tabs .nav-tabs>li {
    float: none;
    display: inline-block;
}
.custom-tabs .nav-tabs>li.active>a,
.custom-tabs .nav-tabs>li.active>a:focus,
.custom-tabs .nav-tabs>li.active>a:hover {
    color: #afafaf;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px;
    border-bottom-color: #064b75;
    padding: 10px;
}
.custom-tabs .nav-tabs>li >a {
    color: #afafaf;
    cursor: default;
    background-color: transparent;
    border: none;
    border-bottom: none;
    border-bottom-color: #064b75;
    padding: 10px;
}
.tour-stats {
    padding: 45px;
    padding-top: 20px;
    background: #f5f5f5;
    padding-bottom: 0px;
    font-size: 16px;
    text-align: left;
}
.tour-stats i {
    color: #014c75;
    margin-right: 10px;
}
.tour-stats .item {
    margin-bottom: 3rem;
}
.portada {
    background: url(https://demos-pirftc7xlgm3gz2xr9zm.stackpathdns.com/traveltour/wp-content/uploads/2016/06/shutterstock_151616084.jpg);
    height: 200px;
    background-size: cover !Important;
    background-position: 100% 40% !important;
    position: relative;
}
.price-card {
    border: solid 1px rgba(128, 128, 128, 0.32);
    margin-top: -72px;
    margin-bottom: -70px;
}
.price-card .title {
    text-align: center;
    background: rgba(1, 76, 117, 0.85);
    padding: 25px;
    color: white;
    text-transform: uppercase;
}
.price-card .price {
    padding: 10px;
    text-align: center;
    font-size: 34px;
    background: linear-gradient(to right, rgb(10, 80, 123), rgba(18, 69, 125, 0.83));
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}
.botonera .boton {
    background: #EEEEEE;
    width: 50%;
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: solid 1px rgba(128, 128, 128, 0.09);
    color: grey;
}
.botonera .boton-lg {
    background: red;
    width: 100%;
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #fbfbfb;
    border: solid 1px rgba(128, 128, 128, 0.09);
    color: grey;
}
.boton a {
    display: inline-block;
    background: white;
    height: 78px;
    border-radius: 100px;
    width: 78px;
    font-size: 23px;
    line-height: 78px;
    color: #0a517c;
}
.portada h3 {
    background: linear-gradient(rgba(19, 19, 19, 0), #040404);
    padding: 48px;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: -10px;
    width: 100%;
    font-size: 30px;
}
.flex-control-nav {
    z-index: 2;
}
.over-slider {
    background: rgba(0, 0, 0, 0.22);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.flex-direction-nav {
    display: none;
}
.slides span {
    text-transform: uppercase;
    color: grey;
    padding: 10px;
}

.flex-control-nav {
    z-index: 10;
}
.oculto_desktop {
    display: none;
}
.oculto_mobile {
    display: block;
}
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 44px;
    height: 44px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-top: 16px;
}
#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
    top: 0px;
}
#nav-icon1 span:nth-child(2) {
    top: 18px;
}
#nav-icon1 span:nth-child(3) {
    top: 36px;
}
#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
#nav-icon2 {}
#nav-icon2 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 50%;
    background: rgba(173, 173, 173, 0.71);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}
#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}
#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 6px;
}
#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 18px;
}
#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 30px;
}
#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 18px;
}
#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 18px;
}
#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}
#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}
#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}
#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 18px;
}
#nav-icon3 span:nth-child(4) {
    top: 36px;
}
#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#nav-icon4 {}
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
    top: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
    top: 36px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}
.mobile-menu {
    width: 16%;
    float: left;
    height: 30px;
    display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #fff !important;
    border: 1px solid transparent;
    background: #064b75;
    box-shadow: none;
    border-radius: 30px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #064b75 !important;
    border: 1px solid #064b75;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    border-radius: 30px;
    background: transparent;
    margin-left: 5px;
    margin-right: 5px;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    border: none;
}
table.dataTable.no-footer {
    border-bottom: 3px solid #dddddd;
    padding-bottom: 0;
}
thead {
    background: #e8e8e8;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #333;
    width: 50%;
    background: #f9f9f9;
    padding: 10px;
    height: 70px;
}
.dataTables_wrapper select {
    margin: 0;
    font: inherit;
    color: inherit;
    height: 50px;
    min-width: 180px;
    border: none;
    border-radius: 30px;
    background: #f9f9f9;
    border: solid 1px #dddddd;
}
.dt-buttons {
    width: 50%;
    background: #f9f9f9;
    float: left;
    height: 70px;
    line-height: 70px;
    padding-left: 10px;
}
.dt-button {
    background: #f9f9f9;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: solid 1px #064b75;
}
.alerta {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 330px;
    padding: 10px;
    right: 1%;
    z-index: 999999999;
    top: 3%;
    color: #a9a9a9;
    cursor: pointer;
    font-size: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
}
.alerta p {
    font-size: 13px;
    line-height: 20px;
}
.alerta h3 {
    font-size: 16px;
    color: #014c75;
}
.alerta .icono {
    float: left;
    background: #f3f3f3;
    width: 25%;
    position: relative;
}
.alerta .contenido {
    float: left;
    width: 75%;
    padding-left: 13px;
    padding-right: 13px;
}
.alerta .icono i {
    height: 89px;
    width: 66px;
    text-align: center;
    line-height: 93px;
    border-radius: 70px;
    display: inline-block;
    color: rgb(1, 76, 117);
    font-size: 44px;
}
#meter .entropizer-track {
    background-color: #e8e8e8;
    border-radius: 2px;
    height: 4px;
}
#meter .entropizer-bar {
    height: 4px;
}
.cc {
    display: none;
}
.menu_menu {
    padding: 0;
    list-style: none
}
.menu_menu li {
    background: rgb(239, 239, 239);
    padding: 10px;
    color: grey;
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 0px 5px 0px;
    margin-bottom: 8px;
}
.menu_menu li ul {
    list-style: none;
    padding-left: 0;
}
.menu_menu li ul li {
    background: white;
}
.filters_bar {
    background: #efefef;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.17);
    position: relative;
    z-index: 99;
}
.mapl {
    width: 100%;
}
#right-panel {
    direction: ltr;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: white;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.31);
    display: none;
    overflow: scroll;
    z-index: 99;
}
.mapbar {
    padding: 10px;
    background: #efefef;
}
.mapbar a {
    width: auto;
}
.input-group-addon button {
    height: 44px;
    border-radius: 0;
}
#rbctr {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
.loader-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gl-feat-item-details {
    display: block;
    padding: 25px 35px;
    border: 1px solid #eee;
    background-color: #f5f5f5;
    border-top: 0 solid;
    position: relative;
    margin-bottom: 10px;
}
.img-ctr {
    height: 240px;
    overflow: hidden;
    position: relative;
}
.img-ctr:hover .vp-ctr {
    display: block;
    transition: all 0.3s ease;
}
.img-ctr img {
    width: 100%;
}
.img-ctr:hover .overlay-m {
    top: 0;
    transition: all 0.5s ease;
}
.vp-ctr {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: inline-block;
    background: #064b75;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: none;
}
.overlay-m {
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.28);
    height: 100%;
    transition: all .5s ease;
}
#waypoints {
    display: none;
}
.selected_tem i {
    background: #B71C1C;
    color: #fbfbfb;
}
.gm-iv-address {
    height: 56px !important;
    width: 200px !important;
    display: none !important;
}
.ctu-center p {
    text-align: center;
    font-size: 20px;
    color: grey;
    font-weight: 100;
}
.gl-feat-item-details h3 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
    color: #848484;
}
.gl-feat-item-details span {
    color: #ffffff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 33px;
    text-align: center;
    border-radius: 40px;
    border: solid 1px;
    margin-right: 10px;
    background: #064b75;
}
.gl-feat-item-details span img {
    width: 24px;
}
.gl-feat-item-details span:hover {
    cursor: pointer;
    background: #0c679e;
    transition: all .5 ease;
}
.btn-cuadrado {
    width: 100%;
    border-radius: 0;
    height: 40px;
    line-height: 45px;
    padding: 0;
    float: left;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.btnstep {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 13px;
    padding-right: 13px;
    margin-right: 10px;
    background: #2b85bf;
    color: white;
    border-radius: 10px;
}
.p70 {
    padding-top: 8px !important;
}
.guide {
    border-top: dashed 1px grey;
    padding: 10px;
    text-align: center;
    margin-top: 13px;
}
.guide span {}
.dlo {
    position: absolute;
    top: 6px;
    right: 26px;
    color: grey;
    font-size: 25px;
}
input[type=radio].sg-replace-icons {
    display: none;
}
input[type=radio].sg-replace-icons + label {
    height: 42px;
    width: 42px;
    display: inline-block;
    padding: 0 0 0 0px;
    color: #585858;
}
input[type=radio].sg-replace-icons:checked + label {
    color: #014c75;
    height: 42px;
    width: 42px;
    display: inline-block;
    padding: 0 0 0 0px;
    background: white;
    border: solid 3px;
    border-style: outset;
    border-color: #85a9bc;
}
.rad {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    background: rgba(158, 158, 158, 0.31);
    border-radius: 44px;
    line-height: 42px;
}
.wazepanel a,
.gmpanel a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background: #F5F5F5;
    margin-bottom: 1px;
}
.som {
    display: none;
}
.tour_bar i {
    font-size: 40px;
    color: #014c75;
    float: left;
}
.tour_bar span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: grey;
    margin-left: 10px;
    font-size: 20px;
}
.price-card input {
    width: 100%;
    border-radius: 0;
    background: none;
    height: 40px;
    border-bottom: solid 2px #bfbfbf;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s ease;
    min-width: auto;
}
.price-card input:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none !important;
    outline: none;
    border-color: #014c75;
    transition: all 0.5s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.pad10 {
    padding: 10px;
}
.lbli {
    height: 40px;
    line-height: 64px;
    color: grey;
}
.price-card .total {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #e0e0e0;
    margin-top: 10px;
    color: grey;
    font-size: 22px;
}
.tour_bar {
    padding-bottom: 17px;
}
.price-card input[type=submit] {
    border: none;
    color: white;
    background: #014c75;
    height: 56px;
    text-transform: uppercase;
    border-radius: 40px;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
}
.sidebar {
    background: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px #ebebeb solid;
    min-height: 500px;
    margin-bottom: 10px;
}
.tour-discount {
    position: absolute;
    height: 40px;
    width: 46px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    background: rgba(234, 1, 39, .8);
    position: absolute;
    top: 0;
    z-index: 4;
    left: 22px;
}
.tour-discount:before {
    position: absolute;
    bottom: -10px;
    content: '';
    width: 100%;
    border-left: 23px solid rgba(234, 1, 39, .8);
    border-right: 23px solid rgba(234, 1, 39, .8);
    border-top: none;
    border-bottom: 10px solid transparent;
    left: 0;
}
.info-wrap {
    border: 1px solid #efefef;
    padding: 20px 25px;
    position: relative;
    max-height: 120px;
}
.tour-price-vote {
  padding-top: 15px;
  margin-top: 20px;
  display: table;
  min-height: 31px;
  position: absolute;
  top: -20px;
  right: 0;
  padding-right: 13px;
}
.price-tour {
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  padding: 4px 11px;
  text-align: center;
  float: left;
}
.theme-bg {
  background: none repeat scroll 0 0 #064b74!important;
}
.title {
    margin: 0;
}
.title a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #064a75;
}

.post-meta ul {
    margin-left: 0;
}
.post-meta ul li {
    list-style: none;
}
.post-meta ul li span {
  font-size: 14px;
}
.banner-top {
    height: 300px;
    background: url(http://inwavethemes.com/wordpress/intravel/wp-content/themes/intravel/assets/images/xbg-page-title.jpg.pagespeed.ic.d4H6jcwWuV.webp)!important;
    padding: 40px;
    text-transform: uppercase;
    line-height: 180px;
    color: white;
    background-size: cover !important;
    background-repeat: no-repeat;
    margin-bottom: 6rem;
}
.touritem {
    margin-bottom: 1rem;
}
.touritem .imagen {
    height: 250px;
    position: relative;
    overflow: hidden;
}
.touritem img {
    transition: all 0.5s ease;
    position: absolute;
    height: 100%;
    width: 100%;
}
.touritem:hover .contenedor-tour {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    transition: all 0.2s ease;
}
.touritem:hover img {
    transform: scale(1.3);
    transition: all 0.5s ease;
}
.touritem .overlay {
    background: linear-gradient(rgba(21, 21, 21, 0.74), rgba(0, 0, 0, 0.22));
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease;
    top: 250px;
}
.touritem:hover .overlay {
    top: 0;
    transition: all 0.5s ease;
}
.touritem .overlay a {

    color: white;

}
.old-price {
  display: inline-block;
  padding-left: 13px;
  padding-right: 10px;
  color: grey;
  text-decoration: line-through;
  font-size: 18px;
  position: relative;
  float: left;
  width: 100%;
  /* text-align: center; */
  margin-top: -5px;
margin-bottom: 5px;
}
.stars {
    list-style: none;
    display: inline-block;
    padding: 0;
}
.stars i {
    font-size: 20px;
    cursor: pointer;
}
.stars .fa-star {
    color: #848484;
}
.stars .fa-star-o {
    color: grey;
}


.stars3 {
    list-style: none;
    display: inline-block;
    padding: 0;
}
.stars3 i {
    font-size: 20px;
    cursor: pointer;
}
.stars3 .fa-star {
    color: #848484;
}
.stars3 .fa-star-o {
    color: grey;
}


.stars3 .old-price{
  display: inline-block !Important;
color: grey !Important;
text-decoration: line-through !Important;
font-size: 18px !Important;
position: relative !Important;
float: inherit !Important;
padding-left: 0 !Important;
    padding-right: 0 !Important;
}


.stars3 .precio {
    position: relative !Important;
    color: #064a75  !Important;
    width: 0px  !Important;
    height: 0px  !Important;
    line-height: 0px  !Important;
    padding-left: 0px  !Important;
    font-size: 25px  !Important;
    display: inline-block  !Important;
    !Important;
}


/*tours*/
.tour-header {
    height: 500px;
    position: relative;
}


.post-head {
    position: absolute;
    width: 100%;
    color: #fff;
    left: 0;
    bottom: 0;
    z-index: 2;
        padding: 10px;
    background: #064b74;
}

.post-meta {
  /* padding-top: 10px; */
  float: left;
  color: white;
  font-size: 26px;
}

.post-head .post-head-content {
    position: relative;
    z-index: 1;
}
.post-meta ul {
    padding: 0;
}
.post-meta li {
  float: left;
  margin-right: 10px;
  width: 100%;
}
.post-head h3.post-title {
    margin: 0 0 4px 0;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    color: white;
    float: left;
    width: 50%;
}
.remp4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.tour-booking-form {
    background: #f9f9f9;
    border: 1px solid #ebebeb;
    padding: 30px;
}
.tour-booking-form .field-group .control {
    height: 39px;
    line-height: 37px;
    border: 1px solid #ededed;
    color: #232323;
    font-size: 12px;
    width: 100%;
    padding: 0 10px 0 45px;
    border-radius: 0px;
    margin-bottom: 2px;
}
.tour-booking-form .field-group span.icon {
    line-height: 24px;
    width: 34px;
    height: 24px;
    text-align: center;
    color: #a2a2a2;
    border-right: 1px solid #ededed;
    position: absolute;
    left: 0;
    top: 8px;
}
.tour-booking-form .field-group-inner {
    position: relative;
    margin-bottom: 13px;
}
.tour-booking-form h3 {
    margin-bottom: 1rem;
    border-bottom: solid 1px rgba(210, 210, 210, 0.61);
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.btnvmf {
    background: #004b73;
    text-align: center;
}
.btnvmf a {
    color: white;
}
.nofound {
    text-align: center;
    padding: 10px;
    color: grey;
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-30%);
}
.nofound i {
    font-size: 60px;
    color: #014c75;
}
ul.iconos {
    list-style: none;
    padding: 23px;
    text-align: center;
    border-top: solid 1px rgba(128, 128, 128, 0.22);
    border-bottom: solid 1px rgba(128, 128, 128, 0.22);
    margin-bottom: 4%;
}
ul.iconos li {
    display: inline-block;
    margin-right: 22px;
}
ul.iconos li i {
    font-size: 43px;
    background: #e8e8e8;
    width: 60px;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    border-radius: 60px;
}
ul.iconos li span {
    height: 54px;
    line-height: 60px;
    margin-left: 15px;
    float: left;
    text-transform: uppercase;
    color: #064b75;
}
.container {
    color: #064b75;
}
.playa_header {
    background: #064b79;
    height: 460px;
    text-align: center;
    color: white;
    font-size: 40px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
}
.playa_header h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Amarillo';
    font-size: 3vw;
    text-shadow: 0px 2px 2px rgba(125, 125, 125, 0.32);
}
.gal-btn {
    background: #2280bf;
    color: rgb(228, 248, 255);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 20PX;
    display: inline-block;
    line-height: 50px;
    position: absolute;
    right: 50px;
    bottom: 78px;
}
.step .paso {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #014c75;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
}
.wizard {
    padding: 10px;
    background: #f3f3f3;
}
.hero_scene {
    position: relative;
    height: 670px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.hero_scene .form-control {
    height: 50px;
    margin-bottom: 1rem;
    border-radius: 30px;
    background: #FAFAFA;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 5px;
    text-transform: uppercase;
}
.icheckbox_flat-blue,
.iradio_flat-blue {
    float: left;
}
.dbtn {
    display: inline-block;
    background: #064b75;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}
.register-btn {
    text-transform: uppercase;
    color: white;
    background: #175582;
    width: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    font-size: 19px;
}
.infop-tab .nav-tabs a {
    background: #eaeaea;
    color: grey;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}
.infop-tab .nav-tabs>li.active>a {
    border: solid 1px rgba(128, 128, 128, 0.16);
}
.stars2 {
    position: absolute;
    bottom: 20px;
    left: 30px
}
.stars2 ul {
    padding: 0;
}
.stars2 li {
    display: inline-block;
}
.vote {
    color: white;
    font-size: 14px;
    background: #064b75;
    display: inline-block;
    padding: 4px;
    border-radius: 8px;
}
.contact-list {
    padding: 0;
    margin-top: 2rem;
}
.contact-list li {
    list-style: none;
    margin-bottom: 10px;
}
.contact-list i {
    display: inline-block;
    background: #064b75;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    color: white;
}
.contact-list a {
    margin-left: 20px;
    font-size: 17px;
}
.anuncio-patrocinado {
    position: fixed;
    background: rgba(255, 255, 255, 0.97);
    width: 100%;
    bottom: 0;
    display: none;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.cap {
    position: absolute;
    right: -35px;
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 27px;
    border-radius: 30px;
    border: solid 2px;
}
.ch {
    position: absolute;
    color: rgba(255, 255, 255, 0.68);
    right: 30px;
    top: 0px;
    z-index: 99;
    font-size: 11px;
}
.vc {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 40px;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.lbl_tuto {
    margin-bottom: 10px;
}
.pom1 {
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.playa_item {
    position: relative;
}
.add_route {
    position: absolute;
    left: 50%;
    top: 60px;
    background: #8BC34A;
    display: inline-block;
    border-radius: 12px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: white;
    padding-left: 10px;
    z-index: 99;
    padding-right: 10px;
    transform: translateX(-50%);
    text-transform: uppercase;
    padding-right: 30px;
    font-size: 12px !important;
    width: 70%;
}
.add_route:after {
    content: '+';
    margin-left: 10px;
    font-size: 20px;
    position: absolute;
    right: 10px;
}
.elmr {
    background: #ad1b1b;
    padding-right: 30px;
}
.elmr:after {
    content: '-';
    margin-left: 10px;
    font-size: 30px;
    position: absolute;
    right: 10px;
}
.icheckbox_flat-blue,
.iradio_flat-blue {
    height: 20px !important;
}
b,
strong {
    font-weight: bold;
    font-family: sans-serif;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}
.iconos .popup {
    cursor: pointer;
    position: relative;
    animation: float 4s ease-in-out infinite;
}
.iconos .popup:before {
    content: '+';
    position: absolute;
    background: #8BC34A;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    color: white;
    left: 0;
}
.iconos .popup i {
    border: dashed 2px;
}
.iconos .popup span {
    font-weight: bold;
}
.creditos {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
}
.featured-tem {
  text-align: center;
      padding: 20px;
          transition: all .5s ease;
}

.featured-tem:hover {
    transition: all .5s ease;
}

.featured-tem h5 {
  color: #000000 !important;
  font-size: 18px;
  font-weight: 100;
}


.featured-tem p {
color:#064b75;
}

.featured-tem i{
    font-size: 6vw;
}

.slick-initialized .slick-slide {
    padding: 10px;
}

.slick-dots{
  display: none;
}

#caja {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .5s ease;
    z-index: 9999999999;
    background: #ffffffeb;
    padding: 22px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.26);
}

#caja.entra {
  transform: translateX(0);
}

#caja h2{
    font-size: 19px;
    font-family: 'Raleway', sans-serif;
    color: #064b74;
    text-align: center;
}

#caja input[type=text],#caja input[type=email]{
    width: 100%;
    border: solid 1px #80808038;
    padding-left: 20px;
}

#caja .btn-default-gp {
    left: 50%;
    position: relative;
    margin-top: 14px;
    transform: translateX(-50%);
}

.cepd {
    float: right;
    background: #064b74;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 25px;
    color: white;
}
.pignose-calendar {
    box-shadow: none !important;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
    background: #064b73 !important;
    color: white !important;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
    color: rgb(255, 255, 255)  !important;
}
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
    color: #ffffff !important;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #064b72 !important;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0px !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.pignose-calendar .pignose-calendar-header {
    padding: 0 1.2em;
    margin-top: 0 !important;
    font-weight: 600;
    overflow: hidden;
    background: #064b72 !important;
    color: white !important;
}

.pignose-calendar .pignose-calendar-top {
    border-bottom: none !important;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun, .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
    color: #ffffffab  !important;
}

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a {
      /* color: #bbbbbb !important; */
      color: white !important;
}


.flat_input {
    border-radius: 0;
    border: solid 1px #e2e2e2;
    height: 30px;
    padding-left: 36px;
    width: 100%;
}

.pignose-calendar {
    width: 100% !important;
}

.addon-input{
    position: relative;
    margin: 10px 0;
}
.addon-input i {
    position: absolute;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

.persona {
    background: #064b72;
    color: white;
    padding: 10px;
}

.number {
    width: 52px !important;
    min-width: auto;
    display: inline-block;
    text-align: center;
    color: #064b71;
    border-radius: 0 !Important;
    padding-left: 5px !important;
    text-align: left;
}

.error{
    /* border:solid 1px #c74141; */
    border:solid 1px #5cb85c;
}

.error-label{
    padding: 10px;
    /* color: #c84141; */
    color: #5cb85c;
    text-align: center;
}


.tarifas{
    padding:0;

}

.tarifas li {
    list-style: none;
    border-top: solid 1px #d6d6d6;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    float: left;
    width: 100%;
    padding-top: 4px;
}

.precio_principal{
    font-size: 35px;
    background: #064b73;
    padding: 0 10px;
    border-radius: 40px;
    height: 48px;
    display: inline-block;
    line-height: 48px;
    color: white;
    font-family: helvetica;
}

.precio_principal2 {
  font-family: helvetica;
  display: block;
font-size: 30px;
margin-top: 11px;
}


.hide-on-pc{
  display: none;
}

.precio_original{
    font-size: 25px;
    color: #b9b9b9;
    text-decoration: line-through;
    margin-right: 16px;
}

.precio_tour {
    text-align: center;
    margin-bottom: 14px;
}

select.flat_input {
    text-indent: 30px;
}

#cupo{
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: #48c4d3;
}


.personas{
    padding: 0;
    width: 100%;
    float: left;
    background: #f5f4f5;
    color: white;
    padding: 10px;
        height: 160px;
}
.personas li {
    display: inline-block;
    /* border-right: solid 1px #ffffff70; */
    padding: 0 17px;
  height: 70px;
    vertical-align: top;
    text-align: center;
    width: 19%;
}
.personas li span {
    display: inline-block;
    width: 100%;
    line-height: initial;
    color: #064b74;
    height: auto;
        margin-bottom: 20px;
}

.personas li .cantidad {
  line-height: 90px;
  font-size: 20px;
  color: white;
  /* box-shadow: -2px 3px 7px 2px rgba(0, 0, 0, 0.14) !important; */
}

.circle-money{
  background-color: #064b74;
width: 5.625rem !important;
 height: 5.625rem !important;
 border-radius: 50% ;
 display: inline-block !important;
}

.prs{
      height: 180px;
}
.fin-reserva h3{
      color: #064b75;
}
.circle-reserva{
  background-color: #064b74;
width: 8.625rem !important;
 height: 8.625rem !important;
 border-radius: 50% ;
 display: inline-block !important;
}

.invoice-title {
    font-size: 56px;
    margin-bottom: 11px;
    text-transform: unset;
}
.sin-borde {
    border: none !important;
}
.total{
  text-align: center;
}
.total .btn{
    margin-bottom: 12px;
}

.accordion .panel-default>.panel-heading {
    height: auto;
    line-height: initial;
    background: white;
    color: #064b73;
    border: solid 1px #ddd;
}

.accordion .panel-default {
    border-color: #ddd;
    border: none;
}

.accordion .panel-body {
    padding: 15px;
    background: white;
    border: none;
}

.accordion {
    margin-top: 1rem;
}

.reserv-container{
    border: solid 1px #d8d8d8;
    padding-bottom: 16px;
}

.pignose-calendar {
    border: none !important;
}

#form-reserva{
    padding: 10px;
}


#form-reserva button {
    margin: 0 auto;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 14px;
}


.accordion .panel-default>.panel-heading a{
    font-size: 20px;
    margin: 0;
    /* width: 100%;*/
    display: block;
}


.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #064a73;
}
.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

.tour-item h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #064b75;
    padding-left: 20px;
}

.config-tour label{
  margin-top: 30px;
}

.contenedor-tour {
    position: relative;
    overflow: hidden;
    min-height: 380px;
}

.touritem .overlay {
  background: #064a75;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s ease;
  top: 100%;
  color: white;
  text-align: left;
}

.touritem .overlay .alg-c {
  height: 190px;
  position: absolute;
  bottom: 105px;
}

/* .touritem .overlay .alg-c .old-price {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffffd1;
    text-decoration: line-through;
    font-size: 20px;
} */


.touritem .overlay .alg-c .old-price {
  display: inline-block;
padding-left: 3px;
padding-bottom: 18px;
padding-right: 0px;
color: #ffffffd1;
text-decoration: line-through;
font-size: 20px;
margin-top: -25px;
}

/* .precio {
    position: relative;
    color: white;
    width: 154px;
    height: 80px;
    line-height: 80px;
    padding-left: 18px;
    font-size: 25px;
    width: 100%;
    float: left;
    padding: 0;
    line-height: 0;
    height: 0;
    margin-top: 16px;
    text-align: right;
    font-size: 3vw;
    margin-left: -45px;
} */

.precio {
    position: relative;
    color: white;
    width: 154px;
    height: 80px;
    line-height: 80px;
    padding-left: 18px;
    font-size: 25px;
    width: 100%;
    /* float: left; */
    padding: 0;
    line-height: 0;
    height: 0;
    margin-top: 12px;
    text-align: right;
    font-size: 3vw;
    margin-left: -4px;
}

/* .featured-tours {
  margin-bottom: 50px;
} */

.featured-tours {
  margin-top: 0px;
  margin-bottom: 0px;
}


.icon-tour{
  width: 75px;
  /* float: left; */
  margin-right: 10px;
}

.p-tour {
  line-height: initial;
  margin-top: 1.5vw;
}


.info-left {
  width: 75%;
  margin-left: -20px;
  overflow: hidden;
}
.galery-items{
  padding: 0;
}

.galery-items li {
  width: 32.9%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
}

.brm{
  position: fixed;
bottom: 0;
left: 0;
width: 100%;
z-index: 999;
border-radius: 0;

}

.panel-body {
  text-align: justify;
}

.tour-info {
  text-align: justify;
}

.comentarios{
  padding: 0;

}
.comentarios li {
  list-style: none;
  background: #f3f3f3;
  padding: 10px;
}

.sw-theme-default>ul.step-anchor>li>a, .sw-theme-default>ul.step-anchor>li>a:hover {
  border: none!important;
  color: #bbb;
  text-decoration: none;
  outline-style: none;
  background: 0 0!important;
  border: none!important;
  text-align: center;
  color: #064a75 !important;
  font-weight: 600;
}

.sw-theme-default {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#smartwizard .nav>li {
  position: relative;
  display: block;
  width: 33%;
}

.sw-theme-default>ul.step-anchor>li.active>a {
  border: none!important;
  color: #064a75 !important;
  background: 0 0!important;
}

.sw-theme-default>ul.step-anchor>li>a::after {
  content: "";
  background: #064a75;
  height: 5px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.sw-theme-default .step-content {
  padding: 10px;
  border: 0 solid #d4d4d4;
  background-color: #fff;
  text-align: left;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.post-head {
  position: absolute;
  width: 30%;
  color: #fff;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 10px;
  background: url(../img/goplaya-curva.png);
  height: 216px;
background-size: 100% 100%;
  background-repeat: no-repeat;
}

.post-head .cont {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 25px;
      margin-top: -23px;

}

.precio_principal3 {
   font-family: helvetica;
   display: block;
   font-size: 40px;
   margin-top: 40px;
}

.noreview{
  margin-top: 80px;
}



.post-head .cont h3 {
  font-weight: 600;
  width: 100%;
}


.post-head .cont  .stars .fa-star, .post-head .cont  .stars .fa-star-o {
  color: #FFC107;
  font-size: 30px;
}


.dolar{
  margin-left: -15px;
}

.title-c{
      font-size: 30px;
}

.titulo-tour-detail{
  margin-top: -40px;
  margin-bottom: 35px;
}

.ppp {
  font-size: 13px;
}


/*--------------------------  */
/*           TOURS            */
/*--------------------------  */


.playas-destacadas{

  background-color: #f9f9f9;
  position: absolute;
  margin-top: 58px;
  width: 100%;
  font-family: raleway !important;
  display: none;
  box-shadow: 0 0 17.8px 9.2px rgba(0,0,0,.3);
  border-radius: 25px;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.playas-destacadas h3{
      color: #064b75 !important;

}


.tours-destacados{
      color: #064b75 !important;
}

.tours{
  text-align: center;
}


.hero_tours{
      margin-bottom: -55px !important;
}

.a-button-main{
  text-align: center;
    min-width: 10.625rem;
    color: #064b75;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #064b75!important;
    padding: 1rem;
    padding: 0.6875vw 2.9375vw;
    border-radius: 1000px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 1.125vw;
    font-weight: bold;
    cursor: pointer;
        margin-bottom: 15px;
}


.a-button-main:hover {
    background-color: #064b75;
    border-color: #fff;
    color: #fff;
    transition: background-color .5s ease;
}

iframe{
  width: 100% !important;
}




.bnf h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #064b75;
  font-weight: bold;
}


.ft{
  margin-bottom: 20px;
}




.pignose-calendar .pignose-calendar-unit a{
  background-color: #5cb85c;
  color: white !important ;
}


.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-disabled a {
    opacity: .5;
    background-color: #efefef;
    color: #004c76 !important;
}

.metodo-pago{
  height: 25px;
  min-width: 35px;
  margin-left: 70px;
}



.btn-config{
  display: inline-block;
      margin-top: 30px;
/* height: 50px; */
line-height: 45px;
padding-left: 20px;
padding-right: 20px;
border-radius: 30px;
border: solid 2px;
color: #064b75 !important;
font-family: Raleway;
text-transform: UPPERCASE;
}




.txt-mail{
  display: inline-block;
}

.txt-mail1{
  display:  inline-block;
  float: right;
}

.ttc{
  display: inline-block;
}

.ttcheck{
  display: inline-block !important;
  min-width: 25px;
      transform: translateY(44%);
      margin: 4px 10px 0 !important;

}

.btn-tour-ad{
  margin-top: -35px;
    position: absolute;
    margin-left: -205px;
}

.provincia-p{
  float: left;
    margin-top: 5px;
    color: grey;
    font-weight: 100;
}

.pignose-calendar-unit a{
  color: white;
}
