@media (max-width: 1023px) {



    #suscribete form {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 10px;
        transform: translate(-50%, -50%);
    }
    #suscribete form input[type=text],
    #suscribete form input[type=email] {
        width: 100%;
        height: 50px;
        line-height: 50px;
        border: none;
        border-radius: 40px;
        padding-left: 15px;
        padding-right: 10px;
        margin-bottom: 10px;
    }
    #suscribete form {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        padding: 10px;
        transform: inherit;
    }
    .oculto_desktop {
        display: block;
    }
    .oculto_mobile {
        display: none;
    }
    .formulario-busqueda {
        width: 100%;
        padding: 60px;
            margin-top: 90px;
    }
    .filtros-btn span {
        text-align: center;
        padding-left: 5px;
    }
    nav.main-menu {
        float: left;
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 100px;
        display: none;
    }
    .main-menu ul {
        padding: 0;
        background: rgb(255, 255, 255);
        width: 100%;
        -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.23);
        box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.23);
    }
    .main-menu ul li {
        display: inline-block;
        margin-left: 0;
        width: 100%;
        border-bottom: solid 1px rgba(128, 128, 128, 0.14);
        text-align: left;
    }
    .main-menu li a.active {
        background: #064b75;
        color: white;
        display: inline-block;
        width: 100%;
        height: 88px !important;
        border-radius: 0;
        line-height: 88px;
    }
    .main-menu li a:hover {
        background: #064b75;
        color: white;
        display: inline-block;
        width: 100%;
        height: 88px !important;
        border-radius: 0;
        line-height: 88px;
    }
    .login-menu {
        width: 63%;
        float: left;
        height: 80px;
        line-height: 80px;
    }
    .logo-container {
        text-align: center;
        font-size: 30px;
        width: 25%;
        float: left;
        height: 80px;
        line-height: 80px;
    }
    .mobile-menu {
        width: 12%;
        float: left;
        height: 30px;
        display: block;
    }
}

@media (max-width: 768px) {


    .personas li {
      width: 49%;
    }

    .sin-borde {
  width: 100% !important ;
}

.personas li {
  border-right: none;
  margin-bottom: 28px;
      height: 100px;
}

.galery-items li {
  width: 32.6%;
}



.post-head, .post-head .cont {
  width: 75%;
      margin-left: 0px;
}

.icon-tour {
  float: none;
  width: 50px !important;
  margin: 0;
}

  .featured-tours div{
  text-align: center;
}
}

@media (max-width: 500px) {


.container-tours-home{
  overflow-x: hidden;
}


  .info-left {
      width: 60%;
      overflow: hidden;
      margin-left: 0px;
  }

  /* body,html{
  overflow-x: hidden;

  } */

  .iconmobile{
    margin-right: -30px !important;
    margin-left: -30px !important;
  }

  .featured-tours div{
    min-height: 130px;
    text-align: center;
    /* border-bottom: solid 1px #b1b1b2;
    border-right: solid 1px #b1b1b2;
    border-left: solid 1px #b1b1b2;
    border-top: solid 1px #b1b1b2; */
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .featured-tours {
      margin-top: 30px;
      margin-bottom: 0px;
  }

    .login-menu {
        width: 51%;
    }
    .featured-tem i {
    font-size: 50px;
}

.p-tour {
  line-height: initial;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
    font-size: 13px;
}

.featured-tem h5 {
    color: #898989;
    font-size: 12px;
}

.featured-tem {
    text-align: center;
    border-bottom: solid 1px #b1b1b2;
    border-right: solid 1px #b1b1b2;
    padding-top: 10px;
padding-bottom: 10px;
}
.sb-m{
  padding: 0;
}
    .logo-container {
        width: 35%;
    }
    .hm {
        display: none;
    }
    .dt-buttons {
        width: 100%;
    }



    .dataTables_filter {
        float: left !important;
        width: 100% !important;
        height: auto !important;
    }
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        width: 100%;
    }
    .panel-title {
        font-size: 16px;
    }
    .admin-bar .nav-tabs>li {
        width: 50%;
    }
    .btn_perfil img {
        display: none;
    }
    .to-cintillo .profile h2 {
        font-size: 13px !important;
    }
    .margin-bottom {
        margin-bottom: 1rem;
    }
    section {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .hide-mobile {
        display: none;
    }
    img {
        height: auto !important;
    }
    #suscribete {
        position: relative;
        height: 367px !important;
        background-position: center center !important;
    }
    /* .hero_scene {
        height: 400px;
    } */
    .hero_scene {
        height: 460px;
        background-position: -160px 0px !important;
    }

    .hero_mobile {
        background-position: -400px 0px !important;
    }
    #rudr_instafeed li {
        width: 100% !important;
    }
    #suscribete form {
        width: 100%;
    }
    .pom1 {
        display: block
    }
    .pom2 {
        display: none
    }
    .som {
        display: block;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .formulario-busqueda h2 {
        font-size: 13vw !important;
    }
    .som a {
        display: inline-block;
        background: #607D8B;
        padding: 10px;
        color: white;
        margin-left: -2px;
    }
    .mapl {
        height: 300px !Important;
        width: 100%;
    }
    #right-panel {
        width: 100%;
        z-index: 999;
    }
    .wazepanel {
        width: 100%;
    }
    #frmfiltros input[type=button] {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .img-ctr img {
        width: 100%;
    }
    .mp_submenu {
        width: 100%;
    }
    .mp_submenu .hp {
        text-align: center;
    }
    .hp img {
        width: 250px;
        height: 250px;
        display: inline-block;
    }
    .formulario-busqueda {
        width: 100%;
        padding: 7px;
    }
    .social-media {
        display: none;
    }
    .playas-item {
        height: 180px !Important;
    }
    .tour-item img {
        width: 100%;
        height: initial;
        position: relative;
        transition: all ease 0.6s;
    }
    .tour-item {
        height: initial;
        padding: 0;
        position: relative;
        overflow: hidden;
        transition: all ease 0.6s;
    }
    .tour-item .overlay h4 {
        font-size: 18px;
        font-family: Raleway;
        font-weight: 100;
        color: #064b75;
    }
    .tour-item .overlay h4 {
        font-size: 18px;
        font-family: Raleway;
        font-weight: 100;
        color: #064b75;
    }
    .tour-item .overlay {
        position: absolute;
        z-index: 9;
        background: rgba(245, 245, 245, 0.77);
        width: 100%;
        height: 100%;
        top: 100%;
        padding: 0;
        transition: all 0.6s ease;
    }
    .txt-center p {
        font-size: 18px;
        font-family: Raleway;
        margin-bottom: 10px;
    }
    .tour-item .overlay .center {
        position: relative;
        transform: translate(-50%, -50%);
        top: 23%;
        left: 50%;
    }
    .gallery-article {
        list-style: none;
        padding: 0;
        display: inline-block;
    }
    .gallery-article .item1 {
        width: 100%;
        height: auto;
        margin-right: 10px;
    }
    .gallery-article .item2 {
        width: 32%;
        height: auto;
        margin-right: 2%;
    }
    .gallery-article .item3 {
        width: 32%;
        height: initial;
    }
    .gallery-article .item4 {
        width: 32%;
        height: auto;
        margin-left: 2%;
    }
    .banner-article-c img {
        display: inline-block;
        width: 100%;
    }
    .formulario-busqueda h2 {
        font-size: 4em
    }
    .login-modal {
        width: 95%;
    }
    .ui-widget {
        width: 100%!Important;
        z-index: 999;
        left: 0 !important;
    }
    .geolocate-filters {
        position: absolute;
        width: 100%;
        height: 70px;
        background: rgb(251, 251, 251);
        z-index: 2;
        bottom: -51px;
        padding: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .zonas_list ul {
        padding: 0;
    }
    .zonas_list li {
        width: 100%;
    }
    .zonas_list {
        padding: 0;
        text-align: left !Important;
    }
    .zonas_list li {
        width: 100%;
    }
    h2,
    .parallax-content h2 {
        font-size: 7vw !important;
    }
    .btn-default-gp {
        width: 100% !important;
        margin-bottom: 5px;
    }
    #map2 {
        height: 313px;
        margin-bottom: 15px;
    }
    ul.iconos {
        text-align: left;
    }
    .creditos {
        position: relative;
        bottom: 30px;
        right: 30px;
        color: white;
        margin-top: 85px;
        display: inline-block;
        margin-bottom: 1px;
    }
    ul.iconos li span {
        font-size: 11px;
    }
    .input-icon i {
        display: none;
    }

  .slick-slide h2 {
    font-size: 20px !important;
}

.info-wrap {
    border: 1px solid #efefef;
    /* padding: 20px 25px; */
        padding: 20px 10px;
    position: relative;
    max-height: 120px;
    /* margin-top: -87px; */
    /* margin-top: -32px; */
}

.touritem .imagen{
  height: 215px;
}

.tour-price-vote{
      padding-right: 20px;
}



.price-tour {
    margin-top: 40px;
}


.old-price {
    margin-top: 5px;
    margin-bottom: -30px;
}


.precio {
    margin-left: -45px;
    margin-top: 45px;
    margin-left: -19px;
    font-size: 20px;
}


.touritem .overlay .alg-c .old-price {
    padding-left: 0px;
}

.quantity-nav {
    float: right;
    position: absolute;
    height: 42px;
    margin-left: 50px;
}


.brm {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
}


.touritem .overlay {
    background: #064a75;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s ease;
    top: 100%;
    color: white;
    text-align: left;
    display: none ;
}


.touritem:hover img {
    transform: none;
    transition: all 0.5s ease;
}

.hero_tours {
    margin-bottom: 10px !important;
}


.personas li span {
    display: inline-block;
    width: 100%;
    line-height: initial;
    color: #064b74;
    height: auto;
    margin-bottom: 10px;
}


.personas li .cantidad {
    line-height: 75px;
    font-size: 20px;
    color: white;
    box-shadow: -2px 3px 7px 2px rgba(0, 0, 0, 0.14) !important;
}


.personas {
    padding: 0;
    width: 100%;
    float: left;
    background: #f5f4f5;
    color: white;
    padding: 10px;
    height: 135px;
}

.plus{
    height: 260px !important;
}



.ctours{
  margin-left: -45px;
width: 131%;
    margin-bottom: 35px;
}

.a-button-main {
    text-align: center;
    min-width: 25.625rem;
    color: #064b75;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #064b75!important;
    padding: 1rem;
    padding: 1.6875vw 2.9375vw;
    border-radius: 1000px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 5.125vw;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}


.hide-on-pc{
  display: block;
}

.hide-on-mobile{
  display: none;
}


.precio-detail{
      display: none;
}

.wizard {
    width: 100%;
    height: auto !important;
}

.total{
      margin-top: 20px;
}

.txt-center-mobile{
  text-align: center !Important;
}


.prs{
      height: 165px;
}

.circle-reserva{
  background-color: #064b74;
width: 8.625rem !important;
 height: 8.625rem !important;
 border-radius: 50% ;
 display: inline-block !important;
}


.playas-destacadas{

  background-color: #f9f9f9;
  position: absolute;
  margin-top: 58px;
  width: 96%;
  font-family: raleway !important;
  display: none;
  box-shadow: 0 0 17.8px 9.2px rgba(0,0,0,.3);
  border-radius: 25px;
  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.contenedor-tour{
      min-height: 345px;
}






}
