/*
  Theme Name: 		Newsider
  Theme URI: 		http://newsider.evatheme.com/demo/
  Description: 		Blog & Magazine Theme
  Author: 			Evatheme
  Author URI: 		http://www.evatheme.com
  Version: 			1.0
  Text Domain: 		newsider
  License: GNU General Public License version 3.0
  License URI: http://www.gnu.org/licenses/gpl-3.0.html
  Tags: translation-ready, theme-options, sticky-post, post-formats, full-width-template, flexible-header, featured-images, custom-menu, custom-colors, custom-background
*/


/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Forms
 * 5.0 - Links
 * 6.0 - Alignments
 * 7.0 - Media
 *    7.1 - Captions
 *    7.2 - Galleries
 */


/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine work of
 * Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
 * along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
 * and Blueprint http://www.blueprintcss.org/
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

a, input, select, textarea{vertical-align:top; outline:none !important;}
textarea{resize: noservice_itemne;}

html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body{
	background: #eaeaea;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section{
	display: block;
}

ol,
ul{
	list-style: none;
}

table{
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td{
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
	content: "";
}

blockquote,
q{
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a{
	color:#c9a485;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover,
a:active{
	color:#222;
	outline: 0 !important;
	text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:#222;
}

.single-post-content-wrap p > a:hover,
.contentarea p > a:hover{
	text-decoration:none;
	color: #222;
}

a img{
	border: 0;
}


/**
 * 2.0 Typography
 */

body{
	font-family: Rubik;
	line-height:26px;
	font-size:14px;
	color:#646568;
	background-color:#fff;
}
button,
input,
select,
textarea{
	color: #222222;
	font-size: 16px;
	line-height: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6{
	clear: both;
	margin:0 0 20px;
	text-transform:uppercase;
	font-weight: 500;
	line-height:1.5;
	color:#222222;
	letter-spacing:0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
	color:#222222;
}

h1{
	line-height:90px;
	font-size:80px;
}
h2{
	line-height:70px;
	font-size:50px;
}
h3{
	line-height:60px;
	font-size:38px;
}
h4{
	line-height:34px;
	font-size:24px;
}
h5{
	line-height:28px;
	font-size:18px;
}
h6{
	line-height:24px;
	font-size:14px;
}

p{
	margin-bottom: 30px;
}

b,
strong{
	font-weight: 700;
}

dfn,
cite,
em,
i{
	font-style: italic;
}


blockquote{
	position:relative;
	margin:40px 0 30px;
	padding: 0 0 0 40px;
	font-weight:300;
	line-height:40px;
	font-size:30px;
	color:#222222;
}
blockquote:before{
	content:'';
	position:absolute;
	left:0;
	top:9px;
	bottom:1px;
	width:2px;
}
blockquote p{
	margin-bottom: 1.6667em;
}
blockquote > h1:last-child,
blockquote > h2:last-child,
blockquote > h3:last-child,
blockquote > h4:last-child,
blockquote > h5:last-child,
blockquote > h6:last-child,
blockquote > p:last-child{
	margin-bottom: 0;
}

blockquote cite,
blockquote small{
	display:block;
	padding:6px 0 0;
	text-transform:uppercase;
	font-style:normal;
	color: rgba(0,0,0,0.8);
	font-size: 12px;
	line-height: 24px;
}
blockquote small:before{
	display:none;
}

blockquote em,
blockquote i,
blockquote cite{
	font-style: normal;
}

address{
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre{
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre{
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	color:#222222;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title]{
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins{
	background-color: #fff9c0;
	text-decoration: none;
	color:#000;
}

sup,
sub{
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup{
	bottom: 1ex;
}

sub{
	top: .5ex;
}

small{
	font-size: 75%;
}

big{
	font-size: 125%;
}

.says, .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    overflow-wrap: normal !important;
    position: absolute !important;
    width: 1px;
}


/* Dropcap */
span.dropcap{
	float:left;
	display:block;
	padding-right:6px;
	font-weight:400;
	line-height:60px;
	font-size:48px;
	color:#333;
}



/**
 * 3.0 Elements
 */

hr{
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}

ul,
ol{
	margin: 0 0 1.6em 1.3333em;
}

ul{
	list-style: disc;
}

ol{
	list-style: decimal;
}

li > ul,
li > ol{
	margin-bottom: 0;
}

dl{
	margin-bottom: 1.6em;
}

dt{
	font-weight: bold;
}

dd{
	margin-bottom: 1.6em;
}

table,
th,
td{
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
}

table{
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.6em;
	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td{
	font-weight: normal;
	text-align: left;
}

th{
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td{
	border-width: 0 1px 1px 0;
}

th, td{
	padding: 0.4em;
}

img{
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	outline:0 !important;
	border:0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

figure{
	margin: 0;
}

del{
	opacity: 0.8;
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder{ opacity:1 !important;}
:-moz-placeholder{opacity:1 !important;}
::-moz-placeholder{ opacity:1 !important;}
:-ms-input-placeholder{ opacity:1 !important;}


.sticky{color:inherit;}
.commentlist .bypostauthor{color:inherit;}



/**
 * 4.0 Forms
 */

button,
input,
select,
textarea{
	background-color: #f7f7f7;
	border-radius: 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

select {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height:40px;
	margin:0;
	padding:0 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: "";
	outline: none;
	background-position: 100% center;
	background-repeat: no-repeat;
	border:1px solid rgba(0,0,0,0.1);
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border-radius:0;
	background-color:transparent;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgNTAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBkPSJNMjIuNiw4YzAtMC4xLDAtMC4yLDAuMS0wLjJsMC41LTAuNWMwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMWMwLjEsMCwwLjIsMCwwLjIsMC4xbDMuNywzLjdsMy43LTMuN2MwLjEtMC4xLDAuMS0wLjEsMC4yLTAuMXMwLjIsMCwwLjIsMC4xTDMyLDcuOEMzMiw3LjksMzIuMSw4LDMyLjEsOGMwLDAuMSwwLDAuMi0wLjEsMC4ybC00LjQsNC40Yy0wLjEsMC4xLTAuMSwwLjEtMC4yLDAuMXMtMC4yLDAtMC4yLTAuMWwtNC40LTQuNEMyMi43LDguMiwyMi42LDguMSwyMi42LDh6Ii8+PC9zdmc+");
}
.rtl select {
  background-position: 0% center;
}
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}

label{
	padding-bottom:5px;
}

button,
input{
	line-height: normal;
}

input,
textarea{
	height:50px;
	margin-bottom:10px;
	padding:10px 20px;
	text-transform:uppercase;
	font-weight:500;
	line-height:30px;
	font-size:14px;
	color:#222;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0.1);
	background:#fff;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

input:focus,
textarea:focus{
	color:#222222;
	background:none;
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled]{
	cursor: default;
	opacity: .5;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
	padding:11px 30px;
	text-transform:uppercase;
	line-height:26px;
	font-size:14px;
	color:#fff;
	border: 0;
	transition: opacity 0.2s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus{
	outline: 0;
	color:#fff;
	opacity:0.8;
}

input[type="search"]{
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

textarea{
	overflow: auto;
	height:auto;
	vertical-align: top;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus{
	outline: 0;
}

.post-password-form{
	position: relative;
}

.post-password-form label{
	color: rgba(0, 0, 0, 0.5);
	display: inline-block;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 0.04em;
	line-height: 1.5;
	text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"]{
	padding: 0;
}



/**
 * 6.0 Alignments
 */

.alignleft{
	display: inline;
	float: left;
}

.alignright{
	display: inline;
	float: right;
}

.aligncenter{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft{
	margin: 4px 30px 4px 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright{
	margin: 4px 0 4px 30px;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter{
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter{
	margin-bottom: 1.9em;
}


/**
 * 7.0 Media
 */

.site .avatar{
	border-radius: 50%;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley{
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

audio,
canvas{
	display: inline-block;
}

embed,
iframe,
object,
video{
	margin-bottom: 1.6em;
	max-width: 100%;
	vertical-align: middle;
	border:0;
}

p > embed,
p > iframe,
p > object,
p > video{
	margin-bottom: 0;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist{
	font-size: 15px;
	font-size: 1.5rem;
	margin-top: 0;
	margin-bottom: 1.6em;
}

.wp-playlist.wp-playlist{
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks{
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption{
	border-bottom: 0;
	padding: 10px 0;
}

.wp-playlist-item .wp-playlist-item-length{
	top: 10px;
}


/**
 * 7.1 Captions
 */

.wp-caption{
	margin-bottom: 1.6em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"]{
	display: block;
	margin: 0;
}

.wp-caption-text{
	color: #707070;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 20px;
	padding: 5px 0;
}


/**
 * 7.2 Galleries
 */

.single-post-content .gallery{
	margin-left:-15px;
	margin-right:-15px;
}
.gallery-item{
	position:relative;
	display: inline-block;
	padding: 0 15px 30px;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item{max-width: 50%;}
.gallery-columns-3 .gallery-item{max-width: 33.33%;}
.gallery-columns-4 .gallery-item{max-width: 25%;}
.gallery-columns-5 .gallery-item{max-width: 20%;}
.gallery-columns-6 .gallery-item{max-width: 16.66%;}
.gallery-columns-7 .gallery-item{max-width: 14.28%;}
.gallery-columns-8 .gallery-item{max-width: 12.5%;}
.gallery-columns-9 .gallery-item{max-width: 11.11%;}
.gallery-icon img{margin: 0 auto;}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption{
	display: none;
}