@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kxf86q');
  src:  url('fonts/icomoon.eot?kxf86q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kxf86q') format('truetype'),
    url('fonts/icomoon.woff?kxf86q') format('woff'),
    url('fonts/icomoon.svg?kxf86q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hoteles:before {
  content: "\1f5f6";
  color: #064b75;
}
.icon-rentacar:before {
  content: "\1f5f9";
  color: #064b75;
}
