@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vdiy8a');
  src:  url('fonts/icomoon.eot?vdiy8a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vdiy8a') format('truetype'),
    url('fonts/icomoon.woff?vdiy8a') format('woff'),
    url('fonts/icomoon.svg?vdiy8a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-HOTEL:before {
  content: "\e970";
}
