@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y9k0vm');
  src:  url('fonts/icomoon.eot?y9k0vm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y9k0vm') format('truetype'),
    url('fonts/icomoon.woff?y9k0vm') format('woff'),
    url('fonts/icomoon.svg?y9k0vm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CAMPING:before {
  content: "\e980";
  color: #39556a;
}
.icon-VIDA-SILVESTRE:before {
  content: "\e981";
  color: #39556a;
}
.icon-BANDERA-AZUL:before {
  content: "\e982";
  color: #024b75;
}
