.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0px,0px)}.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-item img{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel .owl-video-playing .owl-video-play-icon{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}#posts-slider .owl-dots{position:absolute;left:30px;top:50%;width:40px;height:auto;-webkit-transform:translateY(-50%);transform:translateY(-50%)}#posts-slider .owl-dots > div{position:relative;z-index:1;display:block;width:40px;height:40px;margin-bottom:-1px;text-align:center;font-weight:700;line-height:40px;font-size:12px;color:#333;border:1px solid #dedede;background-color:#fff;-webkit-transition:border-color .2s ease-in-out,background-color .2s ease-in-out,color .2s ease-in-out;transition:border-color .2s ease-in-out,background-color .2s ease-in-out,color .2s ease-in-out}#posts-slider .owl-dots > div:hover{z-index:2;color:#fff}#posts-slider .owl-dots > div.owl-dot.active{color:#fff;border-color:#1b1b1b;background-color:#1b1b1b}

.owl-controls{
	text-align:center;
}
.owl-controls .owl-dots{
	position:absolute;
	left:0;
	bottom:30px;
	width:100%;
	height:8px;
}
.owl-controls .owl-dot{
	display:inline-block;
	vertical-align:top;
	margin:0 6px;
	width:8px;
	height:8px;
	border-radius:50%;
	background-color:rgba(0,0,0,0.25);
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.owl-controls .owl-nav > div{
	position:absolute;
	top:-54px;
	display:block;
	width:11px;
	height:16px;
}
#blog-single-wrap .post-slider.owl-carousel .owl-controls .owl-nav > div,
.pf_slider_wrap .post-slider.owl-carousel .owl-controls .owl-nav > div{
	top:50%;
	margin-top:-8px;
}
.owl-controls .owl-nav .owl-prev{
	right:29px;
}
#blog-single-wrap .post-slider.owl-carousel .owl-controls .owl-nav .owl-prev,
.pf_slider_wrap .post-slider.owl-carousel .owl-controls .owl-nav .owl-prev{
	right:auto;
	left:30px;
}
.owl-controls .owl-nav .owl-prev:before{
	content: '\f104';
	position:absolute;
	left:0;
	top:0;
	font-family: 'FontAwesome';
	line-height:14px;
	font-size:30px;
	transition: color 0.2s ease-in-out;
}
.owl-controls .owl-nav .owl-next{
	right:0;
}
#blog-single-wrap .post-slider.owl-carousel .owl-controls .owl-nav .owl-next,
.pf_slider_wrap .post-slider.owl-carousel .owl-controls .owl-nav .owl-next{
	right:30px;
}
.owl-controls .owl-nav .owl-next:before{
	content: '\f105';
	position:absolute;
	left:0;
	top:0;
	font-family: 'FontAwesome';
	line-height:14px;
	font-size:30px;
	transition: color 0.2s ease-in-out;
}
.owl-controls .owl-nav > div:before{
	color:rgba(34,34,34,0.25);
}
#blog-single-wrap .post-slider.owl-carousel .owl-controls .owl-nav > div:before,
.pf_slider_wrap .post-slider.owl-carousel .owl-controls .owl-nav > div:before{
	font-size:40px;
	color:rgba(255,255,255,0.5);
}
.owl-controls .owl-nav > div:hover:before{
	color:#222;
}
#blog-single-wrap .post-slider.owl-carousel .owl-controls .owl-nav > div:hover:before,
.pf_slider_wrap .post-slider.owl-carousel .owl-controls .owl-nav > div:hover:before{
	color:#fff;
}
footer .owl-controls .owl-nav > div:before{
	color:rgba(255,255,255,0.25);
}
footer .owl-controls .owl-nav > div:hover:before{
	color:#fff;
}