/**
 * Responsive Theme Styles
 */

@media only screen and (max-width: 1025px) {

	.top_slide_wrap.style3 .big_post{width:59%;}
	.top_slide_wrap.style3 .small_post{width:40%;}

	.recent_posts_list.grid .recent_posts_img{width:80px;}
	.recent_posts_list.grid .recent_posts_content.with_featured_img{width:140px;}

	.widget .apsc-icons-wrapper .apsc-each-profile a{padding-left:40px;}
	.widget .apsc-icons-wrapper .apsc-each-profile a .fa{font-size:20px;width:40px;}

	footer .widget_categories li{min-width:147px;}

	.top_slider.style1 .top_slider_descr{left:80px;right:80px;}

	.evapb-bloglist.card .post_descr_wrap{left:20px;right:20px;}

	.evapb-categories a{padding-left:180px;}

	.evapb-bloglist.big_bg_images .big_post .post_descr_wrap,
	.evapb-bloglist.big_bg_images .post_descr_wrap{
		width:86%;
	}

	.evapb-column .mc4wp-form p.mailchimp_submit{width:220px;}
	.evapb-column .mc4wp-form p.mailchimp_email{width:430px;}

	.evapb-bloglist.bg_image .col-md-3.col-md-2_5,
	.evapb-bloglist.card .col-md-3.col-md-2_5,
	.evapb-bloglist.top_img.style2 .col-md-3.col-md-2_5{
		width:33.33%;
	}

	.evapb-bloglist.metro .post{
		width:50% !important;
	}
	.evapb-bloglist.metro .post_descr_wrap{
		left:20px;
		right:20px;
		bottom:30px;
	}
	.evapb-bloglist.metro .sizing_width2 .post_title,
	.evapb-bloglist.metro .sizing_wh2 .post_title{
		line-height:40px;
		font-size:32px;
	}

	.top_slider.style2{width:790px;}

	.header_search .search_form{width:970px;}

}

@media only screen and (max-width:991px){

	.row-container.full_width{
		margin-left:0 !important;
		padding:0;
		width:100% !important;
	}

	.recent_posts_list.grid .recent_posts_img{width:120px;}
	.recent_posts_list.grid .recent_posts_content.with_featured_img{width:485px;}

	.evapb-bloglist.top_img.style1 .post,
	.evapb-bloglist.top_img.style2 .post,
	.evapb-bloglist.top_img.style3 .post,
	.evapb-bloglist.top_img.style4 .post,
	.evapb-bloglist.bg_image.grid .post,
	.evapb-bloglist.bg_image.masonry .post,
	.evapb-bloglist.card .post,
	.evapb-bloglist.bg_image.grid .col-md-3.col-md-2_5,
	.evapb-bloglist.card .col-md-3.col-md-2_5,
	.evapb-bloglist.top_img.style2 .col-md-3.col-md-2_5{
		float:left;
		width:50%;
	}

	.evapb-column .mc4wp-form p.mailchimp_submit{width:150px;}
	.evapb-column .mc4wp-form p.mailchimp_email{width:280px;}

	.top_slider.style1 .top_slider_descr{left:40px;right:40px;}
	.top_slider.style1 .post_title{line-height:50px;font-size:42px;}

	.top_slider.style2{width:570px;}
	.top_slider.style2 .top_slider_descr{left:40px;right:40px;}
	.top_slider.style2 .post_title{line-height:50px;font-size:42px;}

	.top_slider.style4 .top_slider_descr{left:40px;right:40px;width:auto;}

	.top_slider.style5 .post_title{line-height:50px;font-size:42px;}

	.breadcrumbs_wrap{
		text-align:left;
		padding-top:5px;
	}

	#error404_container h1{line-height:170px; font-size:200px;}
	#error404_container h2{line-height:40px;font-size:31px;}

	.cstheme-pricing .pricing-column,
	.cstheme-counter,
	.cstheme-team{
		float:left;
		width:50%;
	}

	.blog_list_wrap,
	.blogsidebar_wrap{
		float:none !important;
	}

	.row-container.full_width > .row > .col-md-4,
	.row-container.full_width > .row > .col-md-8{
		width:100%;
	}

	.evapb-bloglist.metro .post_descr_wrap{bottom:20px;}
	.evapb-bloglist.metro .post_title,
	.evapb-bloglist.metro .sizing_width2 .post_title,
	.evapb-bloglist.metro .sizing_wh2 .post_title{
		margin-bottom:10px;
		line-height:28px;
		font-size:20px;
	}

	#pagetitle h1{
		line-height:44px;
		font-size:36px;
	}

	#products_list > div > div{
		float:none !Important;
	}

	.woocommerce-checkout h3{
		line-height:34px;
		font-size:26px;
	}
	.woocommerce form .form-row label{
		line-height:22px;
		font-size:14px;
	}

	.header_search .search_form{width:750px;}

}

@media only screen and (min-width: 769px) and (max-width: 991px){

}

@media only screen and (max-width: 768px) {

	.pull-left,
	.pull-right{
		float:none !important;
	}

	.container{
		width:100%;
		padding-left:0;
		padding-right:0;
	}
	#default_page > .container,
	header .container,
	#pagetitle .container,
	#blog_list.container,
	#products_list.container,
	#blog-single-wrap .container{
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}

	.row-container.full_width_content_boxed{
		padding-left:15px;
		padding-right:15px;
	}

	.header_wrap ul.topmenu-menu{float:left !important;}
	.topmenu-menu li{margin-right:15px;}

	.social_links_wrap{float:right !important;}
	.widget .social_links_wrap{float:none !important;}

	.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li{margin-right:20px;}

	.header_search{
		float:right !important; 
		position: absolute;
		right: 20px;
	}

	.header_search .search_form{width:738px;}

	.menu-item-mega-parent .cstheme_mega_menu_wrap{width:738px;}

	footer{
		padding-left:15px;
		padding-right:15px;
	}

	.top_slider.style5 .top_slider_slide,
	.top_slider.style5 .top_slider_slide .container{
		height:450px;
	}
	.top_slider.style5 .top_slider_descr{
		left:40px;
		right:40px;
	}

	.row-container.full_width .big_bg_images{
		margin-left:0;
		margin-right:0;
	}
	.boxed .evapb-bloglist.big_bg_images{
		padding-left:55px;
		padding-right:55px;
	}

	.header_search .search_form_close{
		height:30px;
		line-height:30px;
	}
	.header_search .search_form_close:before{
		top:14px;
	}
	.header_search .search_form_close:after{
		top:10px;
	}
	
	.main-menu {
		float: left;
		width: 100%;
	}


}

@media only screen and (max-width: 767px) {

	.sidebar{
		display: none;
	}

	header .header_wrap.desktop{display:none;}
	header .header_wrap.mobile{
		position:relative;
		z-index:9999;
		display:block;
	}
	header .header_wrap.mobile .header_mobile_wrap{
		width:100%;
		padding:20px 15px;
		transition: background-color 0.2s ease-in-out;
	}
	.header_mobile_wrap .cstheme-logo{
		display:inline-block;
		vertical-align:top;
		max-width:230px;
	}
	.header_mobile_wrap .header_right_part{
		float:right;
	}
	.mobile_menu_btn{
		display:inline-block;
		vertical-align:middle;
	}
	.header_wrap.mobile .menu-primary-menu-container-wrap{
		display:none;
		margin-bottom:20px;
		padding:0;
		border-top:1px solid #e8e8e8;
	}
	.header_wrap.mobile .nav-menu li a{
		position:relative;
		line-height:34px;
		font-size:16px;
		color:#064b75;
		border-bottom:1px solid #e8e8e8;
		display: inline-block;
		width: 100%;
		height: 88px !important;
		border-radius: 0;
		line-height: 88px;
		font-weight: 400;
    	padding-left: 10px;
	}
	.header_wrap.mobile .nav-menu li.menu-item-has-children > a:after{
		content: '\f107';
		position:absolute;
		right:40px;
		top:2px;
		font-family: 'FontAwesome';
		font-size:12px;
		color:#ccc;
		transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
	}
	.header_wrap.mobile .nav-menu li.menu-item-has-children > a.submenu_open:after{
		transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
	}
	.header_wrap.mobile .nav-menu ul li a{
		padding-left:30px;
		text-transform:none;
		font-weight:400;
		font-size:14px;
		color:#666;
	}
	.header_wrap.mobile .nav-menu ul ul li a{
		padding-left:50px;
	}

	.form_search_block input[type="text"]{
		font-size:34px;
	}
	.header_wrap.mobile .menu-primary-menu-container-wrap li a:hover,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul.nav-menu > li.current_page_item > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul.nav-menu > li.current-menu-item > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul.nav-menu > li.current-menu-parent > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul.nav-menu > li.current-menu-ancestor > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li a:hover,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li.current_page_item a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li a:hover,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li.current_page_item > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-item > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-parent > a,
	.header_wrap.mobile .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-ancestor > a{
		background: #064b75;
		color: white;
		display: inline-block;
		width: 100%;
		height: 88px !important;
		border-radius: 0;
		line-height: 88px;
	}

	.header_wrap.mobile .header_search{
		width:40px;
		height:30px;
		margin-left:10px;
	}
	.header_wrap.mobile .header_search .search_form{
		width:345px;
		height:36px;
	}
	.header_wrap.mobile .header_search input.search-field{
		height:36px;
		line-height:36px;
	}
	.header_wrap.mobile .header_search i.fa-search{
		width:40px;
		height:30px;
		line-height:32px;
		font-size:28px;
		top: 5px;
    	right: 90px;
	}
	body.header_searchform_focus .header_wrap.mobile .cstheme-logo,
	body.header_searchform_focus .header_wrap.mobile .mobile_menu_btn{
		opacity:0;
	}

	.top_slider.style2{float:none;width:100%;}
	#top_slider_thumb.style2{display:none;}

	#instagram_wrap .instagram-pics li,
	#blog-single-wrap.format-status .pf_instagram_wrap li{
		width:50%;
	}
	
	.qtranxs_language_chooser {
		position: absolute !important;
		right: 60px;
		top: 25px;
	}
	
	.header_mobile_wrap .cstheme-logo {
		max-width: 120px;
		top: -5px;
		position: relative;
	}
	
	.top_slider.style6 .top_slider_slide {
		position: relative;
		height: 400px;
	}
	
	#page-content{
		padding-top:0;
	}
	
	#blog-single-wrap .featured_img_wide_wrap .featured_img_bg {
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		width: 100%;
		height: 150px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	
	
	#blog-single-wrap .featured_img_wide_wrap{
		height: 300px;
	}
	
	#blog-single-wrap .featured_img_wide_descr .single_post_title h1 {
		width: 100%;
		font-weight: 700;
		line-height: 24px;
		font-size: 24px;
		color: #084774;
	}
	
	#blog-single-wrap .featured_img_wide_wrap {
		position: relative;
		margin-bottom: 0;
		height: 300px;
	}
	
	#blog-single-wrap .featured_img_wide_wrap:before{
		display:none;
	}
	
	#blog-single-wrap .featured_img_wide_wrap .featured_img_wide_descr {
		position: relative;
		z-index: 5;
		padding-top: 170px;
		padding-bottom: 10px;
	}
	
	#blog-single-wrap .featured_img_wide_descr .post_category_label a, #blog-single-wrap .single_post_meta span a {
		color: #0a4875;
	}

}

@media only screen and (max-width: 480px) {

	.alignleft, .alignright{
		float:none !important;
		display:block !important;
		margin-bottom:15px !important;
	}

	.top_slide_wrap.style3 .big_post,
	.top_slide_wrap.style3 .small_post{
		float:none;
		width:100%;
		height:320px;
		margin-bottom:10px;
	}
	.top_slide_wrap.style3 .big_post .post_title{
		line-height:30px;
		font-size:24px;
	}
	.evapb-bloglist.left_image .big_post .post_title{
		line-height:36px;
		font-size:30px;
	}
	.evapb-bloglist.left_image .col-sm-6.post_fetured_img_wrap,
	.evapb-bloglist.left_image .col-sm-6,
	#blog_list.default .col-sm-6.post_fetured_img_wrap,
	#related_posts_list .col-sm-6.post_fetured_img_wrap,
	#blog_list.default .col-sm-6,
	#related_posts_list .col-sm-6{
		width:100%;
	}

	.recent_posts_list.grid .recent_posts_content.with_featured_img{
		width:100%;
	}
	.recent_posts_list.grid .recent_posts_img{
		margin:0 0 15px;
	}

	.apsc-theme-4 .apsc-each-profile a,
	.apsc-theme-3 .apsc-each-profile a{
		display:block;
	}
	.widget .apsc-icons-wrapper .apsc-each-profile{
		width:100%;
	}
	.widget .apsc-icons-wrapper .apsc-each-profile a{padding-left:70px;}
	.widget .apsc-icons-wrapper .apsc-each-profile a .fa{font-size:32px;width:70px;}

	.evapb-bloglist.top_img.style1 .post,
	.evapb-bloglist.top_img.style2 .post,
	.evapb-bloglist.top_img.style3 .post,
	.evapb-bloglist.top_img.style4 .post,
	.evapb-bloglist.bg_image.grid .post,
	.evapb-bloglist.bg_image.masonry .post,
	.evapb-bloglist.card .post,
	.evapb-bloglist.bg_image.grid .col-md-3.col-md-2_5,
	.evapb-bloglist.card .col-md-3.col-md-2_5,
	.evapb-bloglist.top_img.style2 .col-md-3.col-md-2_5{
		float:none;
		width:100%;
	}

	.post_format_content img{width:100%;}

	.row-container.full_width_content_boxed{
		margin-left:-15px !important;
		margin-right:-15px !important;
		padding-left:15px;
		padding-right:15px;
		width:auto !important;
	}

	.evapb-column .mc4wp-form p.mailchimp_email,
	.evapb-column .mc4wp-form p.mailchimp_submit{
		float:none;
		width:100%;
	}
	.evapb-column .mailchimp_form_descr{
		float:none;
		width:100%;
		margin-bottom:20px;
		text-align:center;
	}

	.top_slider.style1 .post_title{
		line-height:40px;
		font-size:32px;
	}

	.top_slider.style4 .top_slider_descr{left:25px;}
	.top_slider.style4 .post_title{
		font-size:32px;
		line-height:38px;
	}
	.top_slider.style4 .post_meta span.post_meta_category{
		margin-right:15px;
	}

	.boxed .evapb-bloglist.big_bg_images{
		padding-left:25px;
		padding-right:25px;
	}
	.evapb-bloglist.big_bg_images article.post{
		width:100%;
		margin-right:0;
	}
	.evapb-bloglist.big_bg_images .post_title,
	.evapb-bloglist.big_bg_images .big_post .post_title{
		line-height:38px;
		font-size:32px;
	}

	.evapb_blog_carousel.fisrt_big_img .item{
		padding-left:0;
	}
	.evapb_blog_carousel.fisrt_big_img .small_post{
		margin-left:0;
	}
	.evapb_blog_carousel.fisrt_big_img .big_post{
		position:relative;
		width:100%;
		min-height:350px;
		margin-bottom:30px;
	}

	#authors_list_page .col-md-3{
		float:none;
		width:70%;
		margin-right:0;
	}

	#error404_container h1{
		line-height:130px;
		font-size:130px;
	}
	#error404_container h2{
		margin-bottom:30px;
		line-height:28px;
		font-size:20px;
	}

	.coming_soon_wrapper h1{
		line-height:48px;
		font-size:40px;
	}
	.coming_soon_wrapper p.coming_descr{
		line-height:24px;
		font-size:18px;
	}
	.coming_soon_wrapper ul.countdown li{
		min-width:22%;
		width:22%;
	}
	.coming_soon_wrapper ul.countdown li span{
		line-height:50px;
		font-size:44px;
	}
	.coming_soon_wrapper ul.countdown li p{
		font-size:12px;
	}
	.coming-soon-social-links .social_links a{
		margin:0 10px;
	}

	.cstheme-pricing .pricing-column, .cstheme-counter, .cstheme-team{
		float:none;
		width:100%;
	}
	.cstheme_member_wrapper .member-image img{
		width:100%;
	}
	.top_slider.style5 .post_title{
		line-height:40px;
		font-size:32px;
	}

	.evapb-bloglist.card.columns2 .post_content_wrapper{
		min-height:570px;
	}

	.evapb-bloglist.metro .post{
		width:100% !important;
	}

	.evapb_blog_carousel.listing_hover .posts_carousel_list{
		padding-left:0;
	}
	.evapb_blog_carousel.listing_hover .post_format_content{
		overflow:hidden;
		position:relative;
		opacity:1 !important;
		margin-bottom:15px;
		height:300px;
	}

	.evapb_blog_carousel.fisrt_big_img .big_post .post_descr_wrap{
		left:20px;
		right:20px;
	}

	.single_post_title h1{
		line-height:40px;
		font-size:32px;
	}
	.single_post_nav > div,
	.single_post_nav .pull-right{
		width:100%;
		padding:0 !important;
	}
	.single_post_nav .previous_post{
		border-bottom:0;
	}
	#author-info{
		padding-left:30px;
		padding-right:30px;
	}
	#author-info .author-image{
		position:static;
		display:inline-block;
		margin-bottom:15px;
	}
	#author-info .author_socicons a{
		text-align:left;
	}
	.author_name_wrap{
		margin-bottom:10px;
	}
	#respond-inputs .comment-form-author,
	#respond-inputs .comment-form-email{
		float:none;
		width:100%;
	}

	ol.commentlist ul.children{
		margin-left:20px;
	}

}

@media only screen and (max-width: 320px) {

	.header_mobile_wrap .cstheme-logo{max-width:120px;}

}
