/**
 * Table of Contents
 *
 * 1.0 - General Theme Styles
 * 2.0 - Elements
 * 3.0 - Header
 * 8.0 - Sidebar
 * 9.0 - Top Slider Blog
 * 10.1 - Blog Posts Page Default
 * 11.0 - Single Blog Post
 * 12.0 - Plugin Contact Form 7
 * 13.0 - Page Default
 * 14.0 - Author Archive pages
 * 15.0 - 404 Page
 * 16.0 - Search Result Page
 * 17.0 - Coming Soon Page
 * 20.0 - Footer
 * 21.0 - Custom class styles
 */



/**
 * 1.0 - General Theme Styles
 *
 * Actualizado: 5 Dic, 2017
 */

#page-wrap{
	overflow-x:hidden;
	width:100%;
}

#page-content{
	overflow:hidden;
	position:relative;
	z-index:10;
	padding-top:0px;
}
body.header_type1 #page-content,
body.header_type4 #page-content{
	padding-top:0;
}

.container{
	padding-left:0;
	padding-right:0;
}

/* Layout Boxed */

body.boxed #page-wrap{
	overflow:hidden;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:1230px;
	background-color:#fff;
}


/**
 *	2.0 - Elements
 */

/* Categories Post label */
.post_category_label{
	position:relative;
	display:block;
	padding-left:23px;
	text-transform:uppercase;
	font-weight:500;
	line-height:18px;
	font-size:12px;
}
.post_category_label span{
	position:absolute;
	left:0;
	top:50%;
	width:3px;
	height:3px;
	margin-top:-1.5px;
	background-color:rgba(34,34,34,0.25);
}
.post_category_label span:before{
	content:'';
	position:absolute;
	left:6px;
	top:50%;
	width:3px;
	height:3px;
	margin-top:-1.5px;
	background-color:rgba(34,34,34,0.25);
}
.post_category_label span:after{
	content:'';
	position:absolute;
	left:12px;
	top:50%;
	width:3px;
	height:3px;
	margin-top:-1.5px;
	background-color:rgba(34,34,34,0.25);
}


/* Social Links */
.social_links a{
	overflow:hidden;
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	transition: background-color 0.2s ease-in-out;
}
.social_links a i{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	line-height:50px;
	font-size:20px;
	color:rgba(0,0,0,0.35);
	transition: top 0.2s ease-in-out, color 0.2s ease-in-out;
}
.social_links a i:last-child{
	top:100%;
}
.social_links a:hover i{
	top:-100%;
}
.social_links a:hover i:last-child{
	top:0;
}
.social_links a i.fa-facebook:last-child{color:#3b5998;}
.social_links a i.fa-twitter:last-child{color:#64a8f2;}
.social_links a i.fa-linkedin:last-child{color:#0077B5;}
.social_links a i.fa-pinterest:last-child{color:#BD081C;}
.social_links a i.fa-google-plus:last-child{color:#D44132;}
.social_links a i.fa-youtube:last-child{color:#EE1C1B;}
.social_links a i.fa-rss:last-child{color:#FF6600;}
.social_links a i.fa-tumblr:last-child{color:#36465D;}
.social_links a i.fa-reddit:last-child{color:#FF4500;}
.social_links a i.fa-dribbble:last-child{color:#F874A4;}
.social_links a i.fa-digg:last-child{color:#1B5791;}
.social_links a i.fa-flickr:last-child{color:#0063DB;}
.social_links a i.fa-instagram:last-child{color:#000;}
.social_links a i.fa-vimeo:last-child{color:#1AB7EA;}
.social_links a i.fa-skype:last-child{color:#01AEF2;}
.social_links a i.fa-yahoo:last-child{color:#572C73;}

.header_tagline_wrap .social_links a{
	border-left:1px solid rgba(0,0,0,0.07);
}
.header_tagline_wrap .social_links a:last-child{
	border-right:1px solid rgba(0,0,0,0.07);
}
.header_tagline_wrap .social_links a:hover,
.cstheme_member_wrapper .social_links a:hover{
	background-color:#fff;
}
.header_tagline_wrap .social_links a:before,
.cstheme_member_wrapper .social_links a:before{
	content:'';
	position:absolute;
	top:-3px;
	left:0;
	width:100%;
	height:3px;
	transition: top 0.2s ease-in-out;
}
.header_tagline_wrap .social_links a:hover:before,
.cstheme_member_wrapper .social_links a:hover:before{
	top:0;
}
.header_tagline_wrap .social_links a.facebook:before,
.cstheme_member_wrapper .social_links a.facebook:before{
	background-color:#3b5998;
}
.header_tagline_wrap .social_links a.twitter:before,
.cstheme_member_wrapper .social_links a.twitter:before{
	background-color:#64a8f2;
}
.header_tagline_wrap .social_links a.linkedin:before{
	background-color:#0077B5;
}
.header_tagline_wrap .social_links a.pinterest:before,
.cstheme_member_wrapper .social_links a.pinterest:before{
	background-color:#bd081c;
}
.header_tagline_wrap .social_links a.google-plus:before,
.cstheme_member_wrapper .social_links a.google-plus:before{
	background-color:#d44132;
}
.header_tagline_wrap .social_links a.youtube:before,
.cstheme_member_wrapper .social_links a.youtube:before{
	background-color:#ee1c1b;
}
.header_tagline_wrap .social_links a.rss:before{
	background-color:#ff6600;
}
.header_tagline_wrap .social_links a.tumblr:before{
	background-color:#36465d;
}
.header_tagline_wrap .social_links a.reddit:before{
	background-color:#ff4500;
}
.header_tagline_wrap .social_links a.dribbble:before,
.cstheme_member_wrapper .social_links a.dribbble:before{
	background-color:#f874a4;
}
.header_tagline_wrap .social_links a.digg:before{
	background-color:#1b5791;
}
.header_tagline_wrap .social_links a.flickr:before,
.cstheme_member_wrapper .social_links a.flickr:before{
	background-color:#0063db;
}
.header_tagline_wrap .social_links a.instagram:before,
.cstheme_member_wrapper .social_links a.instagram:before{
	background-color:#000;
}
.header_tagline_wrap .social_links a.vimeo:before:before{
	background-color:#1ab7ea;
}
.header_tagline_wrap .social_links a.skype:before{
	background-color:#01aef2;
}
.header_tagline_wrap .social_links a.yahoo:before{
	background-color:#572c73;
}

footer .social_links a{
	width:30px;
	height:30px;
	margin-right:25px;
	text-align:left;
}
footer .social_links a i{
	line-height:30px;
	color:rgba(255,255,255,0.35);
}
footer .social_links a i:last-child{
	color:#fff !important;
}

#authors_list_page .social_links a{
	width:40px;
	height:40px;
	line-height:40px;
}
#authors_list_page .social_links a i{
	width:40px;
	height:40px;
	line-height:40px;
	font-size:18px;
}

body.header_type3 .header_menu_wrap .social_links{
	padding-top:5px;
	transition: opacity 0.2s ease-in-out;
}
body.header_type3.header_searchform_focus .header_menu_wrap .social_links{
	visibility:hidden;
	opacity:0;
}
body.header_type3 .header_menu_wrap .social_links a{
	width:40px;
}
body.header_type3 .header_menu_wrap .social_links a i{
	font-size:18px;
}


/* Navigation */
.eva-pagination{
	margin:40px 0;
}
.eva-pagination .page-numbers{
	display:inline-block;
	min-width:40px;
	height:40px;
	margin:0;
	padding:0 15px;
	text-align:center;
	font-weight:400;
	line-height:40px;
	font-size:16px;
	color:rgba(34,34,34,0.75);
	border:1px solid transparent;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.eva-pagination .page-numbers:hover{
	color:#222;
}
.eva-pagination .page-numbers.current{
	color:#fff;
}
.eva-pagination .page-numbers.dots:hover{
	cursor:default;
	color:rgba(34,34,34,0.75) !important;
	border:1px solid transparent !important;
}
.eva-pagination .prev.page-numbers,
.eva-pagination .next.page-numbers{
	font-size:14px;
}


/* Infinite Scroll */
.eva-infinite-scroll{
	position:relative;
	z-index:2;
	height:60px;
}
.eva-infinite-scroll>.loading,
.eva-infinite-scroll[data-has-next="false"]>.next,
.eva-infinite-scroll[data-has-next="true"]>.no-more{
    display: none;
}
.eva-infinite-scroll a{
    position:relative;
	z-index:3;
	display:block;
	padding:17px 30px;
	text-transform:uppercase;
	text-align:center;
	font-weight:500;
	line-height:26px;
	font-size:14px;
	color:#222;
	background-color:#f4f4f4;
}
.eva-infinite-scroll a:focus{
	color:#222;
}
.eva-infinite-scroll a:hover{
	color:#fff;
}
.eva-infinite-scroll a i{
	display:inline-block;
	margin-right:8px;
	font-size:16px;
}
.eva-infinite-scroll a.loading i{
	display:inline-block;
	margin-right:8px;
	font-size:16px;
}
.eva-infinite-scroll > .loading{
	position:absolute;
	z-index:4;
	left:0;
	top:0;
	width:100%;
}
.eva-infinite-scroll a.no-more{
	cursor:default;
	color: rgba(255,255,255,0.75) !important;
	box-shadow:none !important;
	background:none;
}
.eva-infinite-scroll .btn:focus{
	background-color:#191a20;
}


#portfolio_list .eva-infinite-scroll{
	margin-left:-5px;
	margin-right:-5px;
	margin-top:0;
}
#portfolio_list.wide .eva-infinite-scroll{
	max-width:1170px;
	margin-left:auto;
	margin-right:auto;
}
#portfolio_list.metro.margin .eva-infinite-scroll{
	margin-left:20px;
	margin-right:20px;
}
#portfolio_list.metro.no_margin .eva-infinite-scroll{
	margin-left:0px;
	margin-right:0px;
}


/* Buttons */
.btn,
a.btn,
.single-post-content p a.btn,
.contentarea p a.btn{
	padding:12px 35px;
	text-transform:none;
	font-weight:500;
	line-height:36px;
	font-size:24px;
	border-radius:0;
	box-shadow:none;
	border:0;
	color:rgba(255,255,255,0.25);
	text-decoration:none !important;
	background-color:#191a20;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn i{
	padding-left:7px;
}
.btn-default,
.btn.btn-default,
.single-post-content p a.btn-default,
.contentarea p a.btn.btn-default{
	color:rgba(255,255,255,0.25);
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.btn-primary{
	color:#fff;
}
.btn:hover,
.btn:focus,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
	color:#fff;
}
.btn-default.active:hover{
	text-decoration:none !important;
	color:#fff;
}
.btn.btn-white{
	color:#000;
	background-color:#fff;
}
.btn.btn-white:hover{
	color:#fff;
	background-color:#000;
}


/* Preloader */
#loader.loaded{
    opacity: 1;
}

#loader.loaded{
    -webkit-animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@-webkit-keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

#loader{
    position: fixed;
	z-index:999999;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
#loader span{
	position:absolute;
	left:50%;
	top:50%;
	margin:-21px 0 0 -21px;
	width:42px;
	height:42px;
	display:inline-block;
	padding:0px;
	
	border-radius:100%;
	border:2px solid;
	border-left-color:rgba(255,255,255,0.1);
	border-right-color:rgba(255,255,255,0.1);
	
	-webkit-animation: preloaderCircle 0.8s ease-in-out infinite alternate;
	animation: preloaderCircle 0.8s ease-in-out infinite alternate;
	transition: opacity 0.5s ease-in-out;
}
@keyframes preloaderCircle {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes preloaderCircle {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
#loader.loaded span{
	opacity:0;
}


/* Post Share Buttons */
.post_share_wrap{
	position:absolute;
	z-index:10;
	top:20px;
	right:20px;
	text-align:left;
}
.post_share_wrap > i{
	display:inline-block;
	vertical-align:top;
	width:34px;
	height:34px;
	cursor:pointer;
	background-image:url(../images/post_share_btn.png);
	background-repeat:no-repeat;
	background-size:68px 34px;
	background-position:0 0;
	transition: background-color 0.2s ease-in-out;
}
.post_share_wrap:hover > i{
	background-color:#222;
}
.post_share_wrap .sharebox{
	visibility:hidden;
	position:absolute;
	top:0;
	right:0;
	width:350px;
	margin-right:35px;
	padding:0;
	opacity:0;
	transform:translateX(40px);
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.post_share_wrap:hover .sharebox{
	visibility:visible;
	opacity:1;
	transform:translateX(0%);
}
.post_share_wrap .sharebox h5{
	display:none;
}
.post_share_wrap .sharebox_links a{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:34px;
	height:34px;
	margin:0 0 0 -3px;
	text-align:center;
	line-height:34px;
	font-size:14px;
	color:rgba(255,255,255,0.5);
	background-color:rgba(34,34,34,0.5);
}
.post_share_wrap .sharebox_links a:before{
	content:'';
	position:absolute;
	right:-1px;
	top:0;
	width:1px;
	height:100%;
}
.post_share_wrap .sharebox_links a:hover{
	color:#fff;
	background-color:#222;
}
.post_share_wrap .sharebox_links a.facebook:hover{background-color:#3b5998;}
.post_share_wrap .sharebox_links a.twitter:hover{background-color:#64a8f2;}
.post_share_wrap .sharebox_links a.linkedin:hover{background-color:#0077B5;}
.post_share_wrap .sharebox_links a.reddit:hover{background-color:#ff4500;}
.post_share_wrap .sharebox_links a.digg:hover{background-color:#1b5791;}
.post_share_wrap .sharebox_links a.google-plus:hover{background-color:#d44132;}
.post_share_wrap .sharebox_links a.pinterest:hover{background-color:#bd081c;}
.post_share_wrap .sharebox_links a.tumblr:hover{background-color:#36465d;}



/**
 * 3.0 - Header
 */

header{
	position:relative;
}

.header_adv{
	display:table-cell;
	vertical-align:middle;
}
.header_adv a{
	display:block;
	margin-left:30px;
}

/* Top Menu */
.header_tagline_wrap{
	background-color:#f5f5f5;
}
header .topmenu-menu{
	padding:12px 0 0 !important;
}
.topmenu-menu li{
	display:inline-block;
	vertical-align:top;
	margin-right:25px;
}
.topmenu-menu li a{
	display:block;
	text-transform:none;
	font-weight:400;
	line-height:26px;
	font-size:13px;
	color:rgba(34,34,34,0.65);
}
.topmenu-menu li a:hover{
	color:#222;
}


/* Header Search */
.header_search{
	position:relative;
	width:59px;
	height:59px;
	margin:0;
	padding:0;
}
.header_search .search_form_close{
	visibility:hidden;
	position:absolute;
	right: 5px;
    top: 50px;
	height:59px;
	padding-left:30px;
	text-transform:uppercase;
	text-align:right;
	font-weight:500;
	font-style:normal;
	line-height:59px;
	font-size:10px;
	color:#0a4875 !important;
	opacity:0;
	cursor:pointer;
	transition: opacity 0.2s ease-in-out;
}
body.header_searchform_focus .header_search .search_form_close{
	visibility:visible;
	opacity:0.5;
}
body.header_searchform_focus .header_search .search_form_close:hover{
	opacity:1;
}
.header_search .search_form_close:before,
.header_search .search_form_close:after{
	content:'';
	position:absolute;
	background-color:#222;
}
.header_search .search_form_close:before{
	top:28px;
	left:16px;
	width:10px;
	height:2px;
	transform:rotate(45deg);
	background-color: #0a4875 !important;
}
.header_search .search_form_close:after{
	top:24px;
	left:20px;
	width:2px;
	height:10px;
	transform:rotate(45deg);
	background-color: #0a4875 !important;
}
.header_search .search_form{
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:40px;
	right:0;
	width:1170px;
	max-width: 500px;
	height:61px;
	background-color:#fff;
	border-bottom:1px solid #222;
	transition: opacity 0.2s ease-in-out;
}
.header_searchform_focus .header_search .search_form{
	visibility:visible;
	opacity:1;
}
.header_search .search_form label{
	display:inline-block;
	vertical-align:top;
	margin-right:16px;
	text-transform:uppercase;
	font-weight:700;
	line-height:30px;
	font-size:14px;
	color:#333;
	letter-spacing:2px;
}
.header_search .search_form .search-submit{
	position:absolute;
	z-index:1;
	right:0;
	top:0;
	padding:0;
	width:59px;
	height:59px;
	opacity:0;
}
.header_searchform_focus .header_search .search_form .search-submit{
	z-index:3;
}
.header_search input.search-field{
	display:block;
	padding:0;
	width:100%;
	height:59px;
	text-transform:uppercase;
	line-height:59px;
	font-size:16px;
	color:#222;
	border:0;
	border-radius:0;
	background:none;
}
body.header_type2 .header_search input.search-field,
body.header_type4 .header_search input.search-field{
	color:#0a4875;
}
.header_search i.fa-search{
	position: relative;
	z-index:2;
	top:35px;
	right:40px;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:22px;
	color: #0a4875 !important;
	cursor:pointer;
	transition: color 0.2s ease-in-out;
}
body.header_type3 .header_search i.fa-search{
	width:40px;
	font-size:18px;
	color:rgba(0,0,0,0.35);
}
body.header_type2 .header_search i.fa-search,
body.header_type4 .header_search i.fa-search,
body.header_type2 .header_search .search_form_close,
body.header_type4 .header_search .search_form_close{
	color:#fff;
}
body.header_type2 .header_search .search_form_close:before,
body.header_type2 .header_search .search_form_close:after,
body.header_type4 .header_search .search_form_close:before,
body.header_type4 .header_search .search_form_close:after{
	background-color:#fff;
}
.header_search i.fa-search:before{
	top:0;
	left:0;
	width:59px;
	height:59px;
}


/* Theme Logo */
.header_logo_wrap{
	padding:0;
	text-align:left;
	width: 18%;
    float: left;
}
/*body.header_type2 .header_logo_wrap,
body.header_type4 .header_logo_wrap{
	padding:30px 0;
}*/
.header_logo_wrap.header_has_adv{
	display:table;
	width:100%;
	text-align:left;
}
.cstheme-logo{
	display:inline-block;
	vertical-align:top;
}
.header_has_adv .cstheme-logo{
	display:table-cell;
	vertical-align:middle;
	min-width:138px;
}
.cstheme-logo h1{
	margin:0;
	line-height:43px;
	font-size:28px;
}
.cstheme-logo a{
	display:inline-block;
}


/* Primary Menu */
.header_wrap.desktop .header_menu_container{
	position:relative;
	height:60px;
}
.header_wrap.desktop .header_menu_wrap{
	position:absolute;
	z-index:99999;
	left:0;
	top:0;
	width:100%;
	border-bottom:1px solid #e8e8e8;
	background-color:#fff;
}
body.header_type2 .header_wrap.desktop .header_menu_wrap,
body.header_type4 .header_wrap.desktop .header_menu_wrap{
	border:0;
	background-color:#fff !important;
}
body.header_type3 .header_wrap.desktop .header_menu_wrap{
	border-top:1px solid #e8e8e8;
}
body.header-fixed .header_wrap.desktop .header_menu_wrap{
	position:fixed;
}
body.admin-bar.header-fixed .header_wrap.desktop .header_menu_wrap{
	top:31px;
}
.header_wrap.desktop .menu-primary-menu-container-wrap{
	display:inline-block;
	vertical-align:middle;
	transition: opacity 0.2s ease-in-out;
}
body.header_searchform_focus .header_wrap.desktop .menu-primary-menu-container-wrap{
	opacity:0;
}
.header_wrap ul{
	position:relative;
	margin: 0;
	padding:0;
	list-style:none;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li{
	display:inline-block;
	vertical-align:top;
	margin:0 43px 0 0;
	padding:15px 0;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul li.menu-item-has-children{
	position:relative;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul li.menu-item-has-children:after{
	content: '\f107';
	display:inline-block;
	vertical-align:middle;
	margin-left:5px;
	font-family: 'FontAwesome';
	line-height:1px;
	font-size:12px;
	color:#fff;
	transition: color 0.2s ease-in-out;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li > a{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:500;
	line-height:26px;
	font-size:14px !important;
	font-family: inherit !important;
	color:#222;
}

/*========================================
/// MENU PRINCIPAL
=========================================*/

.main-menu {
    float: left;
    width: 75%;
    height: 80px;
    line-height: 80px;
    text-align: center;
	top:20px;
	position:relative;
}

.main-menu ul {
    padding: 0;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 10px;
}

.main-menu li a{
    padding: 6px;
    border-radius: 8px;
    color: #064b75;
    font-size: 17px;
    transition: all 500ms ease;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
}

.main-menu li a:hover{
    background: #064b75;
    transition: all 500ms ease;
    color: white;
}

.qtranxs_language_chooser{
    position: absolute !important;
    right: 20px;
    top: 40px;
}

.qtranxs_language_chooser .active{
	display:none;
}

.qtranxs_language_chooser a{
 	padding: 6px;
    border-radius: 8px;
    color: #064b75;
    font-size: 17px;
    transition: all 500ms ease;
}

.qtranxs_language_chooser a:hover {
    background: #064b75;
    transition: all 500ms ease;
    color: white;
}


body.header_type2 .header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li a,
body.header_type4 .header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li a{
	color:#fff;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li a:before{
	content:'';
	position:absolute;
	z-index:9999;
	right:100%;
	left:0;
	bottom:-16px;
	height:1px;
	transition: right 0.15s ease-in-out;
}
body.header_type2 .header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li a:before{
	bottom:-16px;
	height:2px;
}
body.header_type4 .header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li a:before{
	bottom:-16px;
	height:2px;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li a:hover:before,
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li.current_page_item a:before,
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li.current-menu-item a:before,
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li.current-menu-parent a:before,
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li.current-menu-ancestor a:before{
	right:0;
}

/* Sub Menu */
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu{
	visibility:hidden;
	opacity:0;
	position:absolute;
	z-index:9998;
	left:0;
	top:100%;
	margin:0;
	padding:0;
	text-align:left;
	list-style:none;
	min-width:220px;
	border:1px solid #e8e8e8;
	background-color:#fff;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .menu-item-has-children:hover .sub-menu{
	visibility:visible;
	opacity:1;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu li{
	display:block;
	margin:0 !important;
	border-bottom:1px solid #e8e8e8;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu li:last-child{
	border-bottom:0;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu li.menu-item-has-children{
	position:relative;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul.sub-menu li.menu-item-has-children:after{
	display:none;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu > li.menu-item-has-children > a{
	position:relative;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu li a{
	position:relative;
	display:block;
	padding:8px 18px 9px;
	text-transform:none;
	font-weight:400;
	line-height:22px;
	font-size:14px;
	color:#666 !important;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu li a:before{
	display:none;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu li a:after{
	content:'';
	position:absolute;
	left:-1px;
	top:-1px;
	bottom:-1px;
	width:1px;
	opacity:0;
	transition: opacity 0.2s ease-in-out;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li a:hover:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current_page_item a:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li a:hover:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current_page_item > a:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-item > a:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-parent > a:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-ancestor > a:after{
	opacity:1;
}
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li a:hover,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current_page_item a,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li a:hover,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current_page_item > a,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-item > a,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-parent > a,
.header_wrap.desktop .menu-primary-menu-container-wrap ul ul.sub-menu li.current-menu-ancestor > a{
	color:#222 !important;
	background-color:#f8f8f8;
}


/* Sub Menu 2 */
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu .sub-menu{
	visibility:hidden !important;
	opacity:0 !important;
	position:absolute;
	z-index:100;
	left:100%;
	top:-1px;
	width:220px;
	margin:0;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu{
	visibility:visible !important;
	opacity:1 !important;
}


/* Menu Button */
header .header_wrap.mobile{
	display:none;
}
.header_wrap .mobile_menu_btn{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	padding-right:40px;
	height:30px;
	right: 0px;
	top: 0px;
	z-index:999;
}
.header_wrap .mobile_menu_btn span{
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:39px;
	height:6px;
	background-color:rgba(0,0,0,0.35);
	transition: all 0.3s ease-in-out;
	border-radius: 9px;
}
.header_wrap .mobile_menu_btn span.menu_line1{
	top:2px;
}
.header_wrap .mobile_menu_btn span.menu_line2{
	top:15px;
	width:39px;
}
.header_wrap .mobile_menu_btn:hover span.menu_line2{
	right:0px;
}
.header_wrap .mobile_menu_btn span.menu_line3{
	top:28px;
}
.header_wrap.active_mobile_menu .mobile_menu_btn span.menu_line1{
	-webkit-transform:rotate(45deg) translate(10px, 8px);
			transform:rotate(45deg) translate(10px, 8px);
}
.header_wrap.active_mobile_menu .mobile_menu_btn span.menu_line3{
	-webkit-transform:rotate(-45deg) translate(9px, -8px);
			transform:rotate(-45deg) translate(9px, -8px);
}
.header_wrap.active_mobile_menu .mobile_menu_btn span.menu_line2{
	opacity:0 !important;
}


/* Mega Menu */
.menu-item-mega-parent .owl-controls .owl-nav > div{
	top:-65px;
}
.menu-item-mega-parent .cstheme_mega_menu_wrap{
	overflow:hidden;
	visibility:hidden;
	opacity:0;
	position:absolute;
	z-index:100;
	left:0;
	top:100%;
	height:0;
	margin:0;
	padding:0;
	border:1px solid #e8e8e8;
	background-color:#fff;
	transition: opacity 0.2s ease-in-out;
}
.header-fixed .menu-item-mega-parent .cstheme_mega_menu_wrap{
	margin-top:0;
}
.menu-item-mega-parent:hover .cstheme_mega_menu_wrap{
	visibility:visible;
	opacity:1;
	height:auto;
}
.header_wrap.desktop .menu-primary-menu-container-wrap li.menu-item-has-children.menu-item-mega-parent{
	position:static;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu{
	position:static;
	left:0;
	width:100%;
	min-width:100px;
	margin:0;
	padding:12px 29px 13px;
	border:0;
	border-bottom:1px solid #e8e8e8;
	background-color:#f8f8f8;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu li{
	display:inline-block;
	vertical-align:middle;
	margin:0 30px 0 0 !important;
	border:0;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu li a{
	padding:0;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu li.nav-active a{
	color:#222 !important;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu li a:after{
	left:0;
	right:0;
	bottom:-17px;
	top:auto;
	width:100%;
	height:1px;
	opacity:0;
}
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu li a:hover:after,
.header_wrap.desktop .menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu li.nav-active a:after{
	opacity:1;
}
.menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu:before,
.menu-primary-menu-container-wrap .sub-menu.cstheme_mega_menu:after,
.header_wrap.desktop .menu-primary-menu-container-wrap ul.nav-menu > li .category-children-item a:before{
	display:none;
}
.cstheme_mega_menu_wrap .category-children{
	padding:29px 29px 25px;
}
.cstheme_mega_menu_wrap .category-children-wrap{
	display:block;
	margin:0;
	transition: opacity 0.2s ease-in-out;
}
.cstheme_mega_menu_wrap .category-children-wrap.tab-hidden{
	visibility:hidden;
	opacity:0;
	display:none;
}
.cstheme_mega_menu_wrap .category-children-item .category_post_img{
	overflow:hidden;
	display:block;
	margin-bottom:25px;
}
.cstheme_mega_menu_wrap .category-children-item .category_post_img img{
	transition: opacity 0.2s ease-in-out;
}
.cstheme_mega_menu_wrap .category-children-item .category_post_img:hover img{
	opacity:0.85;
}
.cstheme_mega_menu_wrap .category-children-item .category_post_date{
	display:block;
	margin-bottom:0;
	font-weight:400;
	line-height:22px;
	font-size:14px;
	color:rgba(34,34,34,0.5);
}
.cstheme_mega_menu_wrap .category-children-item .category_post_title{
	margin:0 0 5px;
	line-height:21px;
	font-size:18px;
}
.cstheme_mega_menu_wrap .category-children-item .category_post_title a{
	color:#222 !important;
}



/* Page Title */
#pagetitle{
	position:relative;
	display:table;
	width:100%;
	height:305px;
	margin-bottom:70px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	background-color:#f5f5f5;
}
#pagetitle .pagetitle_content{
	display:table-cell;
	vertical-align: middle;
}
#pagetitle h1{
	margin:0;
	text-transform:uppercase;
	line-height:40px;
	font-size:32px;
	color:#222222;
}
#pagetitle h1 span{
	display:block;
	margin-bottom:5px;
	text-transform:none;
	font-weight:300;
	line-height:28px;
	font-size:18px;
	color:rgba(34,34,34,0.5);
}


/* Breadcrumbs */
.breadcrumbs_wrap{
	padding:8px 0 0;
	text-align:right;
	font-weight:400;
	line-height:24px;
	font-size:13px;
}
.breadcrumbs_wrap span,
.breadcrumbs_wrap a{
	display:inline-block;
	vertical-align:top;
}
.breadcrumbs_wrap span.sep{
	position:relative;
	margin: 0 10px 0 13px;
}
.breadcrumbs_wrap span.sep:after{
	content:'';
	position:absolute;
	top:12px;
	right:0;
	width:3px;
	height:3px;
}



/**
 *	8.0 - Sidebar
 */

aside.widget{
	margin-bottom:30px;
}
aside h4.widget-title{
	margin:0 0 23px;
	font-weight:500;
	line-height:26px;
	font-size:18px;
	color:#222;
}
footer aside h4.widget-title{
	color:#fff;
}

#blog_sidebar aside.widget.widget_recent_entries,
#blog_sidebar aside.widget.widget_recent_comments,
#blog_sidebar aside.widget.widget_archive,
#blog_sidebar aside.widget.widget_categories,
#blog_sidebar aside.widget.widget_meta,
#blog_sidebar aside.widget.widget_calendar,
#blog_sidebar aside.widget.widget_pages,
#blog_sidebar aside.widget.widget_rss,
#blog_sidebar aside.widget.widget_nav_menu{
	padding: 23px 29px 29px;
	border: 1px solid #e8e8e8;
}


/* Text Widget */
.widget_text .info_block{
	padding-left:22px;
	line-height:26px;
	font-size:16px;
	color:#fff;
	border-left:2px solid #fff;
}

/* Widget Categories with Thumbnails */
.widget_newsider_cat_thumbnails .widget-title{
	margin:0;
	padding:0 29px 22px;
	border-bottom:1px solid #e8e8e8;
}
.widget_newsider_cat_thumbnails{
	padding:23px 0 0;
	border:1px solid #e8e8e8;
}
.widget_newsider_cat_thumbnails ul{
	margin:0;
	list-style:none;
}
.widget_newsider_cat_thumbnails li{
	border-bottom:1px solid #e8e8e8;
}
.widget_newsider_cat_thumbnails li:last-child{
	border-bottom:0;
}
.widget_newsider_cat_thumbnails li a{
	overflow:hidden;
	position:relative;
	display:block;
	padding:12px 90px 12px 29px;
	transition: padding 0.2s ease-in-out;
}
.widget_newsider_cat_thumbnails li a:hover{
	padding-left:100px;
}
.widget_newsider_cat_thumbnails li a:before{
	content:'';
	position:absolute;
	z-index:10;
	left:-3px;
	top:0;
	bottom:0;
	width:2px;
	transition: left 0.2s ease-in-out;
}
.widget_newsider_cat_thumbnails li a:hover:before{
	left:0;
}
.widget_newsider_cat_thumbnails li a:after{
	content:'';
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
	background-color:#f8f8f8;
	transition: opacity 0.2s ease-in-out;
}
.widget_newsider_cat_thumbnails li a:hover:after{
	opacity:1;
}
.widget_newsider_cat_thumbnails li a img{
	position:absolute;
	left:-80px;
	top:-1px;
	transition: left 0.2s ease-in-out;
}
.widget_newsider_cat_thumbnails li a:hover img{
	left:0;
}
.widget_newsider_cat_thumbnails li h6{
	margin:0;
	text-transform:capitalize;
	line-height:24px;
	font-size:16px;
	color:rgba(34,34,34,0.75);
	transition: color 0.2s ease-in-out;
}
.widget_newsider_cat_thumbnails a:hover h6{
	color:#222;
}
.widget_newsider_cat_thumbnails a span{
	position:absolute;
	top:12px;
	right:30px;
	display:block;
	font-weight:400;
	line-height:24px;
	font-size:14px;
	color:rgba(34,34,34,0.5);
	transition: color 0.2s ease-in-out;
}
.widget_newsider_cat_thumbnails a:hover span{
	color:#222;
}

/* Widget Flickr */
.flickr-feed{
	overflow:hidden;
	margin:0 -10px -10px 0;
	list-style:none;
}
.widget_newsider_flickr .flickr-feed li{
	overflow:hidden;
	float:left;
	width:50%;
	margin:0;
	padding:0 10px 10px 0;
}
.widget_newsider_flickr .flickr-feed a{
	overflow:hidden;
	position:relative;
	display:block;
}
.widget_newsider_flickr .flickr-feed a:before,
.widget_newsider_flickr .flickr-feed a:after{
	content: '';
	position:absolute;
	z-index:3;
	left:50%;
	top:50%;
	opacity:0;
	background-color:#fff;
	
	-webkit-transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
			transition: left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.widget_newsider_flickr .flickr-feed a:before{
	width:29px;
	height:3px;
	margin:-1px 0 0 -15px;
}
.widget_newsider_flickr .flickr-feed a:after{
	width:3px;
	height:29px;
	margin:-15px 0 0 -1px;
}
.widget_newsider_flickr .flickr-feed a:hover:before,
.widget_newsider_flickr .flickr-feed a:hover:after{
	opacity:1;
}
.widget_newsider_flickr .flickr-feed a img{
	display:block;
	width:100%;
	transition: opacity 0.2s ease 0s;
}
.widget_newsider_flickr .flickr-feed a:hover img{
	opacity:0.4;
}


/* Widget Categories, Archive, Meta */
.sidebar aside.widget_meta,
.sidebar aside.widget_archive,
.sidebar aside.widget_categories,
#blog_sidebar aside.widget_meta,
#blog_sidebar aside.widget_archive,
#blog_sidebar aside.widget_categories{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.widget_meta ul,
.widget_archive ul,
.widget_categories ul{
	margin:0;
	list-style:none;
}
.widget_meta li,
.widget_archive li,
.widget_categories li{
	margin-bottom:8px;
}
.widget_meta li:last-child,
.widget_archive li:last-child,
.widget_categories li:last-child{
	margin-bottom:0;
}
.widget_meta li,
.widget_archive li,
.widget_categories li{
	line-height:0;
	font-size:0;
}
.widget_meta li a,
.widget_archive li a,
.widget_categories li a{
	display:inline-block;
	vertical-align:top;
	padding:0;
	text-transform:uppercase;
	font-weight:500;
	line-height:22px;
	font-size:12px;
	color:#222;
}
footer .widget_meta li a,
footer .widget_archive li a,
footer .widget_categories li a{
	color:#fff;
}
.widget_categories li .val{
	display:inline-block;
	vertical-align:bottom;
	padding:0 0 0 9px;
	font-weight:400;
	line-height:22px;
	font-size:13px;
	color:#666;
	transition: color 0.2s ease-in-out;
}
.widget_meta li a:hover,
.widget_archive li a:hover,
.widget_categories li a:hover{
	text-decoration:none !important;
}


/* Widget Categories */
footer .widget_categories li{
	display:inline-block;
	vertical-align:top;
	min-width:180px;
}


/* Widget Recent Posts */
.sidebar aside.widget_newsider_posts,
#blog_sidebar aside.widget_newsider_posts{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.recent_posts_list.grid{
	margin:0;
	list-style:none;
}
.recent_posts_list.grid li{margin-bottom:30px;}
.recent_posts_list.grid li:last-child{margin-bottom:0;}
.recent_posts_list.grid .recent_posts_img{
	overflow:hidden;
	display:block;
	float:left;
	width:120px;
	margin:4px 20px 5px 0;
}
.recent_posts_list.grid .recent_posts_img img{
	transition: opacity 0.2s ease-in-out;
}
.recent_posts_list.grid .recent_posts_img:hover img{
	opacity:0.85;
}
.recent_posts_list.grid .recent_posts_content.with_featured_img{
	float:left;
	width:170px;
}
.recent_posts_list.grid .recent_post_title{
	margin:0 0 11px;
	font-weight:500;
	line-height:21px;
	font-size:18px;
}
.recent_posts_list.grid .recent_post_title a{
	color:#222;
}
footer .recent_posts_list.grid .recent_post_title a{
	color:#fff;
}
.recent_posts_list.grid .recent-post-meta-date{
	display:block;
	padding:0 0 11px;
	font-weight:400;
	line-height:20px;
	font-size:14px;
	color:rgba(34,34,34,0.65);
}
footer .recent_posts_list.grid .recent-post-meta-date{
	color:rgba(255,255,255,0.25);
}
.recent_posts_list.grid .recent_post_meta_category{
	position:relative;
	display:block;
	font-weight:500;
	line-height:18px;
	font-size:12px;
}
.recent_posts_list.grid .recent_post_meta_category a{
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	font-weight:500;
	line-height:18px;
	font-size:12px;
}
.recent_posts_list.grid .recent_post_meta_category a:hover{
	color:#222;
}

/* Two Columns */
.recent_posts_list.columns2{
	margin:0 -10px;
	list-style:none;
}
.recent_posts_list.columns2 li{
	display:inline-block;
	vertical-align:top;
	width:50%;
	margin-bottom:5px;
	margin-right:-1px;
	padding:0 10px;
}
.recent_posts_list.columns2 .recent_posts_img{
	overflow:hidden;
	display:block;
	margin:0 0 15px;
}
.recent_posts_list.columns2 .recent_posts_img img{
	transition: opacity 0.2s ease-in-out;
}
.recent_posts_list.columns2 .recent_posts_img:hover img{
	opacity:0.85;
}
.recent_posts_list.columns2 .recent_post_title{
	margin:0 0 11px;
	font-weight:500;
	line-height:18px;
	font-size:13px;
}
.recent_posts_list.columns2 .recent_post_title a{
	color:#222;
}
footer .recent_posts_list.columns2 .recent_post_title a{
	color:#fff;
}

/* Widget Recent Posts (First big post) */
.sidebar aside.widget_newsider_posts,
#blog_sidebar aside.widget_newsider_posts{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.recent_posts_list.big_first_post{
	margin:0;
	list-style:none;
}
.recent_posts_list.carousel li{
	margin:0;
}
.recent_posts_list.big_first_post li{
	margin-bottom:28px;
	padding-bottom:22px;
	border-bottom:1px solid #e8e8e8;
}
.recent_posts_list.big_first_post li:last-child{
	margin-bottom:0;
	padding:0;
	border:0;
}
.recent_posts_list.big_first_post .recent_posts_img{
	overflow:hidden;
	display:block;
	float:left;
	width:60px;
	margin:2px 20px 5px 0;
}
.recent_posts_list.big_first_post .first .recent_posts_img{
	float:none;
	width:100%;
	margin:0 0 24px;
}
.recent_posts_list.big_first_post .recent_posts_img img{
	transition: opacity 0.2s ease-in-out;
}
.recent_posts_list.big_first_post .recent_posts_img:hover img{
	opacity:0.85;
}
.recent_posts_list.big_first_post .recent_posts_content.with_featured_img{
	float:left;
	width:230px;
}
.recent_posts_list.big_first_post .first .recent_posts_content.with_featured_img{
	float:none;
	width:100%;
}
.recent_posts_list.big_first_post .recent_post_title{
	margin:0 0 11px;
	font-weight:500;
	line-height:22px;
	font-size:18px;
}
.recent_posts_list.big_first_post .first .recent_post_title{
	margin:0 0 17px;
	line-height:30px;
	font-size:24px;
}
.recent_posts_list.big_first_post .recent_post_title a{
	color:#222;
}
footer .recent_posts_list.big_first_post .recent_post_title a{
	color:#fff;
}
.recent_posts_list.big_first_post .recent_post_meta_category{
	position:relative;
	display:block;
	padding-left:23px;
	font-weight:500;
	line-height:18px;
	font-size:12px;
}
.recent_posts_list.big_first_post .recent_post_meta_category a{
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	font-weight:500;
	line-height:18px;
	font-size:12px;
}
.recent_posts_list.big_first_post .first .recent_post_meta_category{
	margin-bottom:18px;
}
.recent_posts_list.big_first_post .first p:last-child{
	margin-bottom:0;
}

.widget_newsider_posts .recent_posts_img{
	position:relative;
}
.widget_newsider_posts .pf_label{
	position:absolute;
	z-index:10;
	left:50%;
	top:50%;
	width:24px;
	height:24px;
	margin:-12px 0 0 -12px;
	background-repeat:no-repeat;
}
.widget_newsider_posts .pf_label.link{
	background-image:url(../images/widget_pf_icons.png);
	background-position:0 0;
}
.widget_newsider_posts .pf_label.quote{
	background-image:url(../images/widget_pf_icons.png);
	background-position:-24px 0;
}
.widget_newsider_posts .pf_label.gallery{
	background-image:url(../images/widget_pf_icons.png);
	background-position:-48px 0;
}
.widget_newsider_posts .pf_label.audio{
	background-image:url(../images/widget_pf_icons.png);
	background-position:-96px 0;
}
.widget_newsider_posts .pf_label.video{
	background-image:url(../images/widget_pf_icons.png);
	background-position:-72px 0;
}


/* Instagram Widget */
.widget.newsider-instagram-feed{
	position:relative;
}
.widget.newsider-instagram-feed h4{
	margin:0 !important;
	padding:23px 29px;
	border:1px solid #e8e8e8;
	border-bottom:0;
}
.widget.newsider-instagram-feed i{
	position:absolute;
	top:24px;
	right:24px;
	width:26px;
	height:26px;
	text-align:center;
	line-height:26px;
	font-size:20px;
}
.widget.newsider-instagram-feed ul{
	margin:0;
	list-style:none;
}
.widget.newsider-instagram-feed li{
	float:left !important;
	width:25% !important;
}
.widget.newsider-instagram-feed a{
	position:relative;
	display:block;
	background-color:#fff;
}
.widget.newsider-instagram-feed a:before,
.widget.newsider-instagram-feed a:after{
	content:'';
	position:absolute;
	z-index:10;
	opacity:0;
	background-color:#222;
	transition: opacity 0.2s ease-in-out;
}
.widget.newsider-instagram-feed a:before{
	top:18px;
	right:10px;
	width:18px;
	height:2px;
}
.widget.newsider-instagram-feed a:after{
	top:10px;
	right:18px;
	width:2px;
	height:18px;
}
.widget.newsider-instagram-feed a:hover:before,
.widget.newsider-instagram-feed a:hover:after{
	opacity:1;
}
.widget.newsider-instagram-feed a img{
	transition: opacity 0.2s ease-in-out;
}
.widget.newsider-instagram-feed a:hover img{
	opacity:0.85;
}


/* Widget Recent Posts Carousel */
.recent_posts_list.carousel{
	margin:0;
	padding:0;
	list-style:none;
}
.recent_posts_list.carousel .owl-controls .owl-nav > div{
	top:-45px;
}
.recent_posts_list.carousel .owl-controls .owl-nav .owl-prev:before{
	color:rgba(34,34,34,0.25);
}
footer .recent_posts_list.carousel .owl-controls .owl-nav .owl-prev:before{
	color:rgba(255,255,255,0.25);
}
.recent_posts_list.carousel .owl-controls .owl-nav .owl-next:before{
	color:rgba(34,34,34,0.25);
}
footer .recent_posts_list.carousel .owl-controls .owl-nav .owl-next:before{
	color:rgba(255,255,255,0.25);
}
.recent_posts_list.carousel .owl-controls .owl-nav > div:hover:before{
	color:#222;
}
footer .recent_posts_list.carousel .owl-controls .owl-nav > div:hover:before{
	color:#fff;
}
.recent_posts_list.carousel .recent_posts_img{
	display:block;
	margin-bottom:16px;
}
.recent_posts_list.carousel .recent_posts_img img{
	transition: opacity 0.2s ease-in-out;
}
.recent_posts_list.carousel .recent_posts_img:hover img{
	opacity:0.85;
}
.recent_posts_list.carousel .recent_post_meta_category{
	display:inline-block;
	vertical-align:top;
	margin-bottom:9px;
}
.recent_posts_list.carousel .recent_post_title{
	margin-bottom:7px;
	line-height:30px;
	font-size:24px;
}
.recent_posts_list.carousel .recent_post_title a{
	color:#222;
}
footer .recent_posts_list.carousel .recent_post_title a{
	color:#fff;
}
.recent_posts_list.carousel .recent-post-meta-date{
	display:block;
	font-weight:400;
	line-height:20px;
	font-size:14px;
	color:rgba(34,34,34,0.65);
}



/* Widget Social Counter */
.widget .apsc-icons-wrapper{
	margin:-5px;
}
.widget .apsc-icons-wrapper .apsc-each-profile{
	margin:0;
	padding:5px;
	width:50%;
}
.widget .apsc-icons-wrapper .social-icon{
	position:static;
	display:block;
}
.widget .apsc-icons-wrapper .apsc-each-profile a{
	padding:15px 15px 5px 70px;
	border-radius:0;
	transition: opacity 0.2s ease-in-out;
}
.widget .apsc-icons-wrapper .apsc-each-profile a:hover{
	opacity:0.8;
}
.widget .apsc-icons-wrapper .apsc-each-profile a .fa{
	position:absolute;
	left:0;
	top:0;
	width:70px;
	height:70px;
	line-height:70px;
	text-align:center;
	font-size:32px;
	transform:none !important;
}
.widget .apsc-icons-wrapper .apsc-each-profile .media-name{
	display:block;
	padding:0;
	font-weight:500;
	line-height:20px;
	font-size:16px;
}
.widget .apsc-icons-wrapper .apsc-each-profile .apsc-media-type{
	display:inline-block;
	vertical-align:top;
	line-height:16px;
	font-size:13px;
	color:rgba(255,255,255,0.75);
}
.widget .apsc-icons-wrapper .apsc-count{
	display:inline-block;
	vertical-align:top;
	padding-right:4px;
	line-height:16px;
	font-size:13px;
	color:rgba(255,255,255,0.75);
}


/* Widget Recent Entries */
.sidebar aside.widget_recent_entries,
#blog_sidebar aside.widget_recent_entries{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.widget_recent_entries ul{
	margin:0;
	list-style:none;
}
.widget_recent_entries li{
	margin-bottom:8px;
}
.widget_recent_entries li:last-child{
	margin-bottom:0;
}
.widget_recent_entries li a{
	display:inline-block;
	vertical-align:top;
	padding:0;
	text-transform:uppercase;
	font-weight:500;
	line-height:22px;
	font-size:12px;
	color:#222;
}
.widget_recent_entries .post-date{
	display:block;
	font-weight:400;
	line-height:26px;
	font-size:13px;
	color:#666;
}


/* Widget Recent Comments */
.sidebar aside.widget_recent_comments,
#blog_sidebar aside.widget_recent_comments{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.widget_recent_comments ul{
	margin:0;
	list-style:none;
}
.widget_recent_comments li{
	margin-bottom:8px;
	font-weight:400;
	line-height:26px;
	font-size:12px;
	color:#666;
}
.widget_recent_comments li:last-child{
	margin-bottom:0;
}
.widget_recent_comments li span,
.widget_recent_comments li a.url{
	display:inline-block;
	vertical-align:top;
	font-weight:500;
	line-height:26px;
	font-size:14px;
	color:#222;
}
.widget_recent_comments a{
	display:inline-block;
	vertical-align:top;
	padding:0;
	font-weight:500;
	line-height:26px;
	font-size:14px;
	color:#222;
}
.recent_posts_list.grid .comment-author-link{
	display:block;
	padding:0 0 5px;
}


/* Widget Tags Cloud */
.sidebar aside.widget_tag_cloud,
#blog_sidebar aside.widget_tag_cloud{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.tagcloud a{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0;
	padding:0;
	font-weight:300;
	line-height:26px;
	font-size:16px !important;
	color:#222 !important;
	transition: color 0.2s ease-in-out;
}
.tagcloud a:after{
	content:',';
}
.tagcloud a:last-child:after{
	display:none;
}


/* Widget Search */
.widget_search .search_form_wrap{
	position:relative;
	padding:30px;
	background-color:#f8f8f8;
}
.widget_search .search_form input[type="text"]{
	width:100%;
	margin:0;
	padding-left:50px;
	border:0;
	background-color:#fff;
}
.widget_search .search_form .search-submit{
	overflow:hidden;
	position:absolute;
	z-index:3;
	top:30px;
	left:30px;
	display:block;
	margin:0;
	padding:0;
	width:50px;
	height:50px;
	opacity:0;
}
.widget_search i.fa-search{
	position:absolute;
	z-index:2;
	top:30px;
	left:30px;
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:18px;
	color:#222;
}
.widget_search i.search_form_close{
	display:none;
}


/* Widget MailChimp */
.widget .mc4wp-form{
	margin:0;
	padding:27px 30px 30px;
	background-image:url(../images/sibscribe-bg-1.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.widget .mc4wp-form h6{
	margin:0 0 2px;
	font-weight:500;
	line-height:22px;
	font-size:18px;
}
.widget .mc4wp-form span{
	display:block;
	margin-bottom:29px;
	font-weight:300;
	line-height:20px;
	font-size:16px;
	color:#222;
}
.widget .mc4wp-form p{
	position:relative;
	margin-bottom:10px;
}
.widget .mc4wp-form p i{
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:50px;
	text-align:right;
	font-weight:700;
	line-height:48px;
	color:#222;
}
.widget .mc4wp-form input{
	width:100%;
	margin-bottom:10px;
	padding-left:50px;
	border:0;
	background-color:#fff;
}
.widget .mc4wp-form input[type="submit"]{
	margin-bottom:-10px;
	padding:0 20px;
	height:50px;
	line-height:50px;
	transition: opacity 0.2s ease-in-out;
}
.widget .mc4wp-form input[type="submit"]:hover{
	opacity:0.8;
}


/* Widget Rss */
.sidebar aside.widget_rss,
#blog_sidebar aside.widget_rss{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.widget_rss .widget-title a.rsswidget{
	line-height:26px;
	font-size:18px;
	color:#222;
}
.widget_rss .widget-title a img{
	display:none;
}
.widget_rss .rsswidget{
	margin:0 0 5px;
	text-transform:uppercase;
	font-weight:500;
	line-height:22px;
	font-size:14px;
	color:#222;
}
.widget_rss ul{
	margin:0;
	list-style:none;
}
.widget_rss li{margin-bottom:20px;}
.widget_rss .rss-date{
	display:block;
	font-weight:400;
	line-height:26px;
	font-size:13px;
	color:#666;
}
.widget_rss .rssSummary{
	display:block;
}


/* Widget Nav */
.sidebar aside.widget_pages,
.sidebar aside.widget_nav_menu,
#blog_sidebar aside.widget_pages,
#blog_sidebar aside.widget_nav_menu{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.widget_pages ul,
.widget_nav_menu ul{
	margin:0;
	list-style:none;
}
.widget_pages li,
.widget_nav_menu li{
	margin-bottom:8px;
}
.widget_pages li a,
.widget_nav_menu li a{
	display:inline-block;
	vertical-align:top;
	padding:0;
	text-transform:uppercase;
	font-weight:500;
	line-height:22px;
	font-size:12px;
	color:#222;
}
.widget_pages ul ul,
.widget_nav_menu ul ul{
	margin-left:20px;
	margin-bottom:5px;
}
.widget_pages ul ul a,
.widget_nav_menu ul ul a{
	position:relative;
}
.widget_pages ul ul a:before,
.widget_nav_menu ul ul a:before{
	content:"-";
	position:absolute;
	left:-10px;
	top:0;
}


/* Calendar Widget */
.sidebar aside.widget_calendar,
#blog_sidebar aside.widget_calendar{
	padding:23px 29px 29px;
	border:1px solid #e8e8e8;
}
.widget_calendar table{
    width: 100%;
	margin:0;
    text-align: center;
}

.widget_calendar caption{
    font-weight: bold;
    margin-bottom: 5px;
}

.widget_calendar th{
    font-weight: bold;
    border: none;
}

.widget_calendar table{
    border: none;
}

.widget_calendar th,
.widget_calendar td{
	padding:0;
}
.widget_calendar table td{
    padding: 0;
    border: none;
}


/* Widget Social Icons */
.newsider_widget_sociallinks{
	padding:23px 30px 25px;
	border:1px solid #e8e8e8;
}
.newsider_widget_sociallinks .social_links_wrap a{
	display:inline-block;
	vertical-align:middle;
	width:30px;
	height:30px;
	margin-right:20px;
	margin-bottom:10px;
	text-align:center;
	line-height:30px;
	font-size:20px;
	color:rgba(34,34,34,0.5);
}
.newsider_widget_sociallinks .social_links_wrap a i{
	transition: color 0.2s ease-in-out;
}



/**
 *	10.1 - Blog Posts Page Default
 */

/* Blog - Left Image */

/* if sticky post */
#blog_list.default article.sticky .post_content_wrapper{
	position:relative;
	padding:25px 30px 5px;
	border:0;
}
#blog_list.default article.sticky .post_content_wrapper:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0.13;
}

#blog_list.default .post_content_wrapper > .row,
#related_posts_list .post_content_wrapper > .row{
	margin-left:-20px;
	margin-right:-20px;
}
#blog_list.default .post_content_wrapper .col-sm-6,
#related_posts_list .post_content_wrapper .col-sm-6,
#blog_list.default .post_content_wrapper .col-sm-12,
#related_posts_list .post_content_wrapper .col-sm-12{
	padding-left:20px;
	padding-right:20px;
}
#blog_list.default .col-sm-6,
#related_posts_list .col-sm-6{
	width:60%;
}
#blog_list.default .post_content_wrapper,
#related_posts_list .post_content_wrapper{
    margin-bottom: 40px;
    padding-bottom: 18px;
	border-bottom: 1px solid #e8e8e8;
}
#blog_list.default .post:last-child .post_content_wrapper,
#related_posts_list .post:last-child .post_content_wrapper{
	padding:0;
	border:0;
}
#blog_list.default .col-sm-6.post_fetured_img_wrap,
#related_posts_list .col-sm-6.post_fetured_img_wrap{
	width:40%;
}
#blog_list.default .post_descr_wrap,
#related_posts_list .post_descr_wrap{
	padding-bottom:22px;
}
#blog_list.default .post_format_content,
#related_posts_list .post_format_content{
	position:relative;
	margin-top:5px;
	margin-bottom:25px;
}
#blog_list.default .post_meta_category,
#related_posts_list .post_meta_category{
	text-transform:uppercase;
	font-weight:500;
}
#blog_list.default .post_title,
#related_posts_list .post_title{
	margin:17px 0 16px;
	line-height:36px;
	font-size:30px;
}
#blog_list.default .post_meta,
#related_posts_list .post_meta{
	margin:0 0 15px;
}
#blog_list.default .post_meta span,
#related_posts_list .post_meta span{
	display:inline-block;
	vertical-align:top;
	font-weight:400;
	line-height:26px;
	font-size:14px;
	color:rgba(34,34,34,0.65);
}
#blog_list.default .post_meta .post_meta_date,
#related_posts_list .post_meta .post_meta_date{
	position:relative;
	margin-right:13px;
	padding-right:19px;
}
#blog_list.default .post_meta .post_meta_date:after,
#related_posts_list .post_meta .post_meta_date:after{
	content:'';
	position:absolute;
	top:11px;
	right:0;
	width:3px;
	height:3px;
}
#blog_list.default .post_meta span a,
#related_posts_list .post_meta span a{
	display:block;
	color:rgba(34,34,34,0.65);
}
#blog_list.default .post_meta span a:hover,
#related_posts_list .post_meta span a:hover{
	color:#222;
}

#blog_list.default .big_post .post_content_wrapper,
#related_posts_list .big_post .post_content_wrapper{
	margin-bottom:40px;
	padding-bottom:33px;
	border-bottom:1px solid #e8e8e8;
}
#blog_list.default .big_post .post_meta_category,
#related_posts_list .big_post .post_meta_category{
	margin-right:27px;
}
#blog_list.default .big_post .post_meta_category.post_category_label:before,
#related_posts_list .big_post .post_meta_category.post_category_label:before,
#blog_list.default .big_post .post_meta_category.post_category_label:after,
#related_posts_list .big_post .post_meta_category.post_category_label:after{
	top:8px;
}
#blog_list.default .big_post .post_meta_category a,
#related_posts_list .big_post .post_meta_category a{
	font-weight:500;
	font-size:12px;
}
#blog_list.default .big_post .post_title,
#related_posts_list .big_post .post_title{
	margin:11px 0;
	line-height:50px;
	font-size:42px;
}




/**
 *	11.0 - Single Blog Post
 */


.blogsidebar_wrap{
	margin-bottom:10px;
}

/*	If Style Wide */
#blog-single-wrap .featured_img_wide_wrap{
	position:relative;
	margin-bottom: 0;
}
#blog-single-wrap .featured_img_wide_wrap:before{
	content:'';
	position:absolute;
	z-index:4;
	left:0;
	bottom:0;
	width:100%;
	height:60%;
	opacity:0.7;
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.42) 50%,rgba(0,0,0,0.88) 100%);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.42) 50%,rgba(0,0,0,0.88) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.42) 50%,rgba(0,0,0,0.88) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}
#blog-single-wrap .featured_img_wide_wrap .featured_img_bg{
	position:absolute;
	z-index:3;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
#blog-single-wrap .featured_img_wide_wrap .featured_img_wide_descr{
	position:relative;
	z-index:5;
	padding-top:400px;
	padding-bottom:10px;
}
#blog-single-wrap .featured_img_wide_descr .single_post_title h1{
	width:80%;
	font-weight:700;
	line-height:64px;
	font-size:62px;
	color:#fff;
}
#blog-single-wrap .featured_img_wide_descr .single_post_meta span{
	color:rgba(255,255,255,0.5);
}
#blog-single-wrap .featured_img_wide_descr .single_post_meta span a:hover{
	color:#fff;
}
#blog-single-wrap .featured_img_wide_descr .single_post_meta .post_meta_author{
	position:relative;
	margin-right:13px;
	padding-right:19px;
}
#blog-single-wrap .featured_img_wide_descr .single_post_meta .post_meta_author:after{
	content:'';
	position:absolute;
	top:11px;
	right:0;
	width:3px;
	height:3px;
}
#blog-single-wrap .featured_img_wide_descr .post_category_label{
	line-height:20px;
}

/* Single Post Link Format */
#blog-single-wrap.format-link .pf_link_wrap{
	padding:50px;
	text-align:center;
	background-color:#222;
}
#blog-single-wrap.format-link .pf_link_wrap .pf_link{
	display:inline-block;
	vertical-align:top;
	margin-bottom:30px;
	width:28px;
	height:32px;
	background-image:url(../images/pf_link.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
#blog-single-wrap.format-link .pf_link_wrap .pf_link_url{
	line-height:30px;
	font-size:24px;
	color:#999;
}
#blog-single-wrap.format-link .pf_link_wrap .pf_link_url:hover{
	color:#fff;
}

/* Single Post Quote Format */
#blog-single-wrap.format-quote .pf_quote_wrap{
	text-align:center;
	padding:50px;
	background-color:#222;
}
#blog-single-wrap.format-quote .pf_quote_wrap .pf_quote{
	display:inline-block;
	vertical-align:top;
	margin-bottom:50px;
	width:34px;
	height:26px;
	background-image:url(../images/pf_quote.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
#blog-single-wrap.format-quote .pf_quote_wrap .pf_quote_title{
	position:relative;
	margin-bottom:30px;
	padding-bottom:36px;
	text-transform:none;
	font-weight:500;
	line-height:26px;
	font-size:22px;
	color:#fff;
}
#blog-single-wrap.format-quote .pf_quote_wrap .pf_quote_title:after{
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-25px;
	width:49px;
	height:1px;
	background-color:rgba(255,255,255,0.35);
}
#blog-single-wrap.format-quote .pf_quote_wrap .pf_quote_title a{
	color:#fff;
}
#blog-single-wrap.format-quote .pf_quote_wrap .pf_quote_title a:hover{
	color:rgba(255,255,255,0.5);
}
#blog-single-wrap.format-quote .pf_quote_wrap .pf_quote_author{
	margin:0;
	font-weight:400;
	line-height:24px;
	font-size:14px;
	color:#fff;
}

/* Single Post Video Format */
#blog-single-wrap .pf_video_wrap iframe{
	width:100%;
	opacity:1;
}


/* Single Post Twitter (aside) Format */
#blog-single-wrap.format-aside .pf_twitter_wrap{
	padding:40px 50px 70px;
	text-align:center;
	border:0;
	background-color:#51d4fa;
}
#blog-single-wrap.format-aside .pf_twitter_wrap .fa{
	display:inline-block;
	vertical-align:top;
	width:50px;
	height:50px;
	margin:0 auto 15px;
	line-height:50px;
	font-size:42px;
	color:rgba(255,255,255,0.5);
}
#blog-single-wrap.format-aside .pf_twitter_wrap .twitter-time{
	display:block;
	margin-bottom:18px;
	font-weight:400;
	line-height:24px;
	font-size:14px;
	color:rgba(255,255,255,0.5);
}
#blog-single-wrap.format-aside .pf_twitter_wrap .twitter-text{
	display:block;
	margin-bottom:18px;
	font-weight:500;
	line-height:26px;
	font-size:22px;
	color:#fff;
}
#blog-single-wrap.format-aside .pf_twitter_wrap .twitter-text a{
	display:inline-block;
	vertical-align:top;
	font-weight:400;
	line-height:30px;
	font-size:18px;
	color:#fff;
}
#blog-single-wrap.format-aside .pf_twitter_wrap .twitter-text a:hover{
	text-decoration:underline;
}
#blog-single-wrap.format-aside .pf_twitter_wrap .owl-controls .owl-dots{
	bottom:-20px;
}
#blog-single-wrap.format-aside .pf_twitter_wrap .owl-controls .owl-dot,
#blog-single-wrap .owl-controls .owl-dot{
	background-color:rgba(255,255,255,0.5);
}
#blog-single-wrap.format-aside .pf_twitter_wrap .owl-controls .owl-dot:hover,
#blog-single-wrap.format-aside .pf_twitter_wrap .owl-controls .owl-dot.active,
#blog-single-wrap.format-gallery .owl-controls .owl-dot:hover,
#blog-single-wrap.format-gallery .owl-controls .owl-dot.active{
	background-color:#fff;
}

/* Single Post Instagram (Status) Format */
#blog-single-wrap.format-status .pf_instagram_wrap .pf_instagram_user{
	margin-top:0;
	margin-bottom:20px;
	line-height:50px;
	font-size:42px;
}
#blog-single-wrap.format-status .pf_instagram_wrap .pf_instagram_user i{
	display:inline-block;
	margin-right:20px;
	font-size:38px;
}


#blog-single-wrap .post_format_content{
	position:relative;
}

#blog-single-wrap .post-image{
	display:none;
}

#blog-single-wrap .videos{
    margin: 20px 0;
    margin-bottom: 50px;
    overflow: hidden;
	border-top: 1px solid #d4d4d4;
    padding-top: 30px;
}

#blog-single-wrap .videos h1{
	font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #064b75;
}

#blog-single-wrap .videos span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

#blog-single-wrap .videos .video{
	margin-bottom: 20px;
}

#blog-single-wrap .videos iframe {
    margin: auto;
    display: block;
}

#blog-single-wrap .left{
    display: block;
    float: left;
    margin-right: 30px;
}

#blog-single-wrap .right{
    display: block;
    float: left;
    margin-right: 30px;
}

/*==========================================
/// ANUNCIOS
-------------------------------------------*/
.publicidad{
    margin-bottom: 30px;
}

.banner-top{
    margin: 20px 0;
}

.banner-top-home, 
.banner-top-home-en,
.banner-medio-home, 
.banner-medio-home-en,
.banner-bottom-home, 
.banner-bottom-home-en{
	display:none;
}

.banner-top-home .partner-item a img, 
.banner-bottom-home .partner-item a img,
.banner-medio-home .partner-item a img,
.banner-top-home-en .partner-item a img, 
.banner-bottom-home-en .partner-item a img,
.banner-medio-home-en .partner-item a img{
	opacity:1;
}

/*===========================================
// VIDEO
--------------------------------------------*/
.single-post-content .video_player.show_video iframe{
	opacity:1;
}
.single-post-content .pf_video_wrap{
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.single-post-content .pf_video_play{
	position:absolute;
	z-index:10;
	left:50%;
	top:50%;
	width:36px;
	height:36px;
	margin:-18px 0 0 -18px;
	background-image:url(../images/pf_video.png);
	background-repeat:no-repeat;
	background-position:center center;
	transition: opacity 0.2s ease-in-out;
}
.single-post-content .pf_video_play:hover{
	opacity:0.5;
}


/* Single Post Gallery Format */
#blog-single-wrap .post-slider.grid a,
.evapb-bloglist.big_top_img .post-slider.grid a,
#blog-single-wrap .post-slider.justified a,
.evapb-bloglist.big_top_img .post-slider.justified a,
#blog-single-wrap .post-slider.owl-carousel a,
.evapb-bloglist.big_top_img .post-slider.owl-carousel a{
	background-color:#222;
}
#blog-single-wrap .post-slider.grid a .caption,
.evapb-bloglist.big_top_img .post-slider.grid a .caption,
#blog-single-wrap .post-slider.justified a .caption,
.evapb-bloglist.big_top_img .post-slider.justified a .caption,
#blog-single-wrap .post-slider.owl-carousel a .caption,
.evapb-bloglist.big_top_img .post-slider.owl-carousel a .caption{
	position:absolute;
	z-index:10;
	left:0;
	right:0;
	bottom:0;
	padding:15px;
	font-family:inherit;
	text-align:center;
	font-weight:400;
	line-height:20px;
	font-size:14px;
	color:#fff;
	opacity:0 !important;
	background:none;
	transition: all 0.2s ease-in-out;
}
#blog-single-wrap .post-slider.grid a:hover .caption,
.evapb-bloglist.big_top_img .post-slider.grid a:hover .caption,
#blog-single-wrap .post-slider.justified a:hover .caption,
.evapb-bloglist.big_top_img .post-slider.justified a:hover .caption,
#blog-single-wrap .post-slider.owl-carousel a:hover .caption,
.evapb-bloglist.big_top_img .post-slider.owl-carousel a:hover .caption{
	opacity:1 !important;
}
#blog-single-wrap .post-slider.grid a:before,
.evapb-bloglist.big_top_img .post-slider.grid a:before,
#blog-single-wrap .post-slider.justified a:before,
.evapb-bloglist.big_top_img .post-slider.justified a:before,
#blog-single-wrap .post-slider.owl-carousel a:before,
.evapb-bloglist.big_top_img .post-slider.owl-carousel a:before{
	content:'';
	position:absolute;
	z-index:3;
	left:0;
	bottom:0;
	width:100%;
	height:60%;
	opacity:0;
	background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.42) 50%,rgba(0,0,0,0.88) 100%);
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0.42) 50%,rgba(0,0,0,0.88) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.42) 50%,rgba(0,0,0,0.88) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
	transition: opacity 0.2s ease-in-out;
}
#blog-single-wrap .post-slider.grid a:hover:before,
.evapb-bloglist.big_top_img .post-slider.grid a:hover:before,
#blog-single-wrap .post-slider.justified a:hover:before,
.evapb-bloglist.big_top_img .post-slider.justified a:hover:before,
#blog-single-wrap .post-slider.owl-carousel a:hover:before,
.evapb-bloglist.big_top_img .post-slider.owl-carousel a:hover:before{
	opacity:0.7;
}
#blog-single-wrap.format-gallery .post-slider.grid a,
.evapb-bloglist.big_top_img .post-slider.grid a{
	position:relative;
	display:inline-block;
	margin:0 0 30px;
}
#blog-single-wrap .post_format_content .post-slider img,
.evapb-bloglist.big_top_img .post_format_content .post-slider img{
	width:100%;
	opacity:1;
	transition: opacity 0.2s ease-in-out;
}
#blog-single-wrap .post_format_content .post-slider.grid img,
.evapb-bloglist.big_top_img .post_format_content .post-slider.grid img{
	width:auto;
}
#blog-single-wrap .post_format_content .post-slider a:hover img,
.evapb-bloglist.big_top_img .post_format_content .post-slider a:hover img{
	opacity:0.85;
}
#blog-single-wrap .post-slider .gallery_zoom,
.evapb-bloglist.big_top_img .post-slider .gallery_zoom{
	width:100%;
}
#blog-single-wrap .post-slider .gallery_zoom,
.evapb-bloglist.big_top_img .post-slider .gallery_zoom{
	position:absolute;
	z-index:25;
	left:50%;
	top:45%;
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
	opacity:0;
	transition: all 0.2s ease-in-out;
}
#blog-single-wrap .post-slider a:hover .gallery_zoom,
.evapb-bloglist.big_top_img .post-slider a:hover .gallery_zoom{
	top:50%;
	opacity:1;
}
#blog-single-wrap .post-slider a .gallery_zoom:hover,
.evapb-bloglist.big_top_img .post-slider a .gallery_zoom:hover{
	opacity:0.75;
}
#blog-single-wrap .post-slider .gallery_zoom:before,
.evapb-bloglist.big_top_img .post-slider .gallery_zoom:before{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:20px;
	height:2px;
	margin:-1px 0 0 -10px;
	background-color:#fff;
	transition: background-color 0.2s ease-in-out;
}
#blog-single-wrap .post-slider .gallery_zoom:after,
.evapb-bloglist.big_top_img .post-slider .gallery_zoom:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:2px;
	height:20px;
	margin:-10px 0 0 -1px;
	background-color:#fff;
	transition: background-color 0.2s ease-in-out;
}


.single_post_meta{
	margin:0 0 12px;
}
.single_post_meta span{
	display:inline-block;
	vertical-align:top;
	font-weight:400;
	line-height:26px;
	font-size:14px;
	color:rgba(34,34,34,0.65);
}

.single_post_meta .post_meta_date{
	position:relative;
	margin-right:13px;
	padding-right:19px;
}
.single_post_meta .post_meta_date:after{
	content:'';
	position:absolute;
	top:11px;
	right:0;
	width:3px;
	height:3px;
}
.single_post_meta span a{
	display:block;
}
.single_post_meta span a:hover{
	color:#222;
}
.single_post_meta .post_meta_category{
	margin-right:27px;
}
.single_post_meta .post_meta_category.post_category_label:before,
.single_post_meta .post_meta_category.post_category_label:after{
	top:8px;
}
.single_post_meta .post_meta_category a{
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
}

.single_post_title h1{
	margin-bottom:21px;
	line-height:50px;
	font-size:42px;
}

/* Sigle Post Tags */
.single_post_meta_tags{
	margin-bottom:20px;
	font-weight:500;
	line-height:24px;
	font-size:14px;
	color:#999;
	border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    margin-left: 15px;
}
.single_post_meta_tags span{
	display:inline-block;
	vertical-align:top;
	margin-right:15px;
	color:#222;
}
.single_post_meta_tags a{
	display:inline-block;
	vertical-align:top;
	margin-right:13px;
	font-weight:500;
	line-height:24px;
	font-size:14px;
	color:#999;
}

.single_post_meta_tags a:hover{
	color: #0a4875 !important;
}

/* Single Post Share */
.single-post-content .post_share_wrap.single_content{
	position:static;
	margin-bottom:34px;
}
.single-post-content .post_share_wrap.single_content .sharebox{
	visibility:visible;
	position:static;
	width:auto;
	margin:0;
	opacity:1;
	transform:translateX(0);
}
.single-post-content .post_share_wrap.single_content .sharebox h5{
	display:inline-block;
	vertical-align:top;
	font-weight:500;
	line-height:24px;
	font-size:14px;
}
.single-post-content .single_content .sharebox_links{
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.single-post-content .post_share_wrap.single_content .sharebox_links a{
	width:24px;
	height:24px;
	margin:0 0 0 7px;
	line-height:24px;
	color:rgba(34,34,34,0.35);
	background:none !important;
}
.single-post-content .single_content .sharebox_links a.facebook:hover{color:#3b5998;}
.single-post-content .single_content .sharebox_links a.twitter:hover{color:#64a8f2;}
.single-post-content .single_content .sharebox_links a.linkedin:hover{color:#0077B5;}
.single-post-content .single_content .sharebox_links a.reddit:hover{color:#ff4500;}
.single-post-content .single_content .sharebox_links a.digg:hover{color:#1b5791;}
.single-post-content .single_content .sharebox_links a.google-plus:hover{color:#d44132;}
.single-post-content .single_content .sharebox_links a.pinterest:hover{color:#bd081c;}
.single-post-content .single_content .sharebox_links a.tumblr:hover{color:#36465d;}


/* Single Post Like */
.single_sharebox_wrap .cstheme_likes .likes_count{
	font-weight:600;
	font-size:18px;
	color:#fff;
}
.single_sharebox_wrap .cstheme_likes i{
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	width:34px;
	height:34px;
	text-align:center;
	font-weight:700;
	line-height:32px;
	font-size:14px;
	text-indent:1px;
	color:#fff;
	cursor:pointer;
	border-radius:50%;
	border:2px solid #fff;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}


/* Author Info */
#author-info{
	position:relative;
	margin:40px 0 0;
	padding:33px 100px 37px 155px;
	min-height:160px;
}
#author-info:before{
	content:'';
	position:absolute;
	z-index:-1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0.1;
}
#author-info .author-image{
	overflow:hidden;
	position:absolute;
	left:30px;
	top:30px;
	border-radius:50%;
}
#author-info .author-image img{
	border-radius:50%;
}
#author-info .author_name{
	display:inline-block;
	vertical-align:top;
	margin-bottom:4px;
	margin-right:30px;
	text-transform:none;
}
#author-info .author_socicons{
	display:inline-block;
	vertical-align:top;
}
#author-info .author_socicons a{
	display:inline-block;
	vertical-align:top;
	width:34px;
	height:34px;
	margin-right:20px;
	text-align:center;
	line-height:34px;
	font-size:18px;
	color:rgba(34,34,34,0.35);
}
#author-info .author_socicons a:hover{
	color:#222;
}


/* Single Post Navigation */
.single_post_nav > div{
	width:50%;
}
.single_post_nav .pull-left{
	padding-right:15px;
}
.single_post_nav .pull-right{
	padding-left:15px;
}
.single_post_nav .previous_post,
.single_post_nav .next_post{
	border:1px solid rgba(0,0,0,0.1);
}
.single_post_nav .prev_post_arrow,
.single_post_nav .next_post_arrow{
	display:block;
	padding:6px 20px 7px;
	text-align:center;
	font-weight:500;
	line-height:26px;
	font-size:14px;
	color:#999;
	border-bottom:1px solid rgba(0,0,0,0.1);
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.single_post_nav .prev_post_arrow:hover,
.single_post_nav .next_post_arrow:hover{
	color:#222;
	background-color:#f5f5f5;
}
.single_post_nav .prev_post_arrow i,
.single_post_nav .next_post_arrow i{
	display:inline-block;
	vertical-align:bottom;
	line-height:28px;
	font-size:26px;
	color:#d8d8d8;
	transition: color 0.2s ease-in-out;
}
.single_post_nav .prev_post_arrow i{
	margin-right:17px;
}
.single_post_nav .next_post_arrow i{
	margin-left:17px;
}
.single_post_nav .prev_post_thumb,
.single_post_nav .next_post_thumb{
	position:relative;
	display:block;
	min-height:118px;
	padding:29px 29px 14px 109px;
}
.single_post_nav .no_thumbnail .prev_post_thumb,
.single_post_nav .no_thumbnail .next_post_thumb{
	padding-left: 29px;
}
.single_post_nav .prev_post_thumb img,
.single_post_nav .next_post_thumb img{
	position:absolute;
	left:29px;
	top:29px;
	transition: opacity 0.2s ease-in-out;
}
.single_post_nav .prev_post_thumb:hover img,
.single_post_nav .next_post_thumb:hover img{
	opacity:0.85;
}
.single_post_nav .prev_post_thumb h6,
.single_post_nav .next_post_thumb h6{
	display:inline-block;
	vertical-align:top;
	margin:0;
	line-height:21px;
	font-size:18px;
	transition: color 0.2s ease-in-out;
}


/* Related Posts */
#related_posts_list{
	margin-top:40px;
	margin-bottom:-25px;
}
#related_posts_list > h2{
	margin-bottom:35px;
	padding:22px 30px;
	line-height:26px;
	font-size:18px;
	border:1px solid rgba(0,0,0,0.1);
}
#related_posts_list article.post .post_content_wrapper{
	margin-bottom:35px;
	padding-bottom:15px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#related_posts_list article.post:last-child .post_content_wrapper{
	margin-bottom:0;
	padding-bottom:0;
	border:0;
}


/* Post Comments */
#comments{
	margin-top:40px;
}
#comments .comments_pass_note{
	margin:0;
	padding:0;
}
#comments .commentlist_wrap{
	overflow:hidden;
	margin:0 0 40px;
	padding:0;
	border:1px solid rgba(0,0,0,0.1);
	border-bottom:0;
}
.comments_title{
	margin:0;
	padding:23px 30px;
	line-height:26px;
	font-size:18px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.comments_title span{
	display:inline-block;
	padding-left:6px;
}

ol.commentlist{
	margin:0;
	padding:0 30px;
	list-style:none !important;
}
ol.commentlist ul.children > li{
	list-style:none !important;
}
.comment-body{
	position:relative;
	margin:0;
	padding:30px 0 23px;
}
.comment-body:after{
	content:'';
	position:absolute;
	left:-500px;
	right:-500px;
	bottom:0;
	height:1px;
	background-color:rgba(0,0,0,0.1);
}
.comment-content{
	padding-right:40px;
}
.comment-body .comment-avatar{
	margin-right:16px;
}
.comment-body .comment-avatar img{
	border-radius:50%;
}
ol.commentlist ul.children{
	margin:0 0 0 50px;
	list-style:none;
}
#comments ul li:before,
#comments ol li:before{
	display:none !important;
}
.commentlist .comment-meta{
	padding:0 0 14px;
}
.commentlist .comment-meta > span{
	display:inline-block;
	vertical-align:middle;
	line-height:26px;
	font-size:12px;
	color:rgba(34,34,34,0.5);
}
h6.comment_author{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	margin:0 13px 0 0;
	padding-right:16px;
	text-transform:none;
	font-weight:500;
	line-height:26px;
	font-size:18px;
}
h6.comment_author:after{
	content:'';
	position:absolute;
	top:50%;
	right:0;
	width:2px;
	height:2px;
	margin-top:-1px;
}
h6.comment_author .comment-edit-link{
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	text-transform:none;
	line-height:26px;
	font-size:12px;
	color:rgba(34,34,34,0.5);
}
h6.comment_author .comment-edit-link:hover{
	color:#222;
}
.comment-reply-link{
	float:right;
	display:block;
	font-weight:500;
	line-height:50px;
	font-size:14px;
	color:rgba(34,34,34,0.25);
}
.comment-reply-link:hover,
.comment-reply-link:focus{
	color:#222;
}
.comment-content p:last-child{
	margin-bottom:0;
}

.comments_navigation a,
.comments_navigation .page-numbers{
	display:inline-block;
	vertical-align:top;
	line-height:20px;
	font-size:12px;
	letter-spacing:0;
	color:rgba(51,51,51,0.75);
}
.comments_navigation .page-numbers{
	margin:0 3px;
}
.comments_navigation a:hover,
.comments_navigation .current{
	color:#333;
}


/* Post Comment Form */
#comments #respond{
	margin:0 0 40px;
	padding:23px 30px 35px;
	background-position:0 0;
	background-color:#f8f8f8;
}
h3#reply-title{
	margin:0 0 4px;
	padding:0;
	line-height:26px;
	font-size:18px;
}
p.comment-notes{
	margin-bottom:25px;
	line-height:18px;
	font-size:12px;
	color:#999;
}
#commentform{
	position:relative;
	z-index:3;
}
#commentform p.logged-in-as{
	margin:0 0 25px;
	line-height:18px;
	font-size:12px;
	color:#999;
}
#commentform p.logged-in-as a{
	display:inline-block;
	vertical-align:top;
	line-height:18px;
	font-size:12px;
	color:#999;
}
#commentform p.logged-in-as a:hover{
	color:#222;
}
#respond-inputs{
	margin:0 -5px;
}
#respond-inputs .comment-form-author,
#respond-inputs .comment-form-email{
	float:left;
	width:50%;
	margin:0;
	padding:0 5px;
}
#respond-inputs input{
	width:100%;
	border:0;
	background-color:#fff;
}
#commentform textarea{
	width:100%;
	height:150px;
	margin-bottom:20px;
	resize:none;
	border:0;
	background-color:#fff;
}
#commentform .form-submit{
	margin:0;
}
#commentform .form-submit input[type="submit"]{
	min-width:230px;
	height:50px;
	margin:0;
	padding:12px 45px;
	text-transform:uppercase;
	line-height:26px;
	font-size:14px;
	color:#fff;
	border:0;
	box-shadow:0;
	transition: opacity 0.2s ease-in-out;
}
#commentform .form-submit input[type="submit"]:hover,
#commentform .form-submit input[type="submit"]:focus{
	opacity:0.8;
}



/**
 *	12.0 - Recommended Plugins
 */


/* Contact Form 7 */
.contentarea form.wpcf7-form{
	position:relative;
	margin:0 0 40px;
	padding:23px 30px 5px;
	background-position:0 0;
	background-color:#f8f8f8;
}
.contentarea form.wpcf7-form h3{
	margin:0 0 4px;
	padding:0;
	line-height:26px;
	font-size:18px;
}
.contentarea form.wpcf7-form p.wpcf7-form-note{
	margin-bottom:25px;
	line-height:18px;
	font-size:12px;
	color:#999;
}
.contentarea form.wpcf7-form .row{
	margin-left:-5px;
	margin-right:-5px;
}
.contentarea form.wpcf7-form .col-md-6{
	padding-left:5px;
	padding-right:5px;
}
.contentarea form.wpcf7-form input{
	width:100%;
	border:0;
	background-color:#fff;
}
.contentarea form.wpcf7-form textarea{
	width:100%;
	height:150px;
	margin-bottom:20px;
	resize:none;
	border:0;
	background-color:#fff;
}
.contentarea form.wpcf7-form .wpcf7-not-valid-tip{
	margin-bottom:6px;
	font-size:14px;
}
.contentarea form.wpcf7-form input[type="submit"]{
	width:auto;
	min-width:230px;
	height:50px;
	margin:0;
	padding:12px 45px;
	text-transform:uppercase;
	line-height:26px;
	font-size:14px;
	color:#fff;
	border:0;
	box-shadow:0;
	transition: opacity 0.2s ease-in-out;
}
.contentarea form.wpcf7-form input[type="submit"]:hover{
	opacity:0.8;
}
.contentarea div.wpcf7-response-output{
	margin-left:0;
	margin-right:0;
}



 

/**
 *	14.0 - Page Author Archive
 */

#author_posts_page .row{
	margin-bottom:30px;
}
#author_posts_page .eva-pagination{
	margin-top:-60px;
}

#author_posts_info{
	margin-bottom:42px;
	padding:53px 0 40px;
	background-color:#f4f4f4;
}
#authors_list_page .row{
	text-align:center;
}
#authors_list_page .col-md-3{
	float:none;
	display:inline-block;
	vertical-align:top;
	width:25%;
	margin-right:-4px;
}
.author_posts_avatar{
	overflow:hidden;
	display:block;
	margin-bottom:21px;
	border-radius:50%;
}
.author_posts_avatar img{
	border-radius:50%;
}
.author_posts_count{
	line-height:20px;
	font-size:12px;
	color:#999;
}
h5.author_posts_name{
	margin:0 0 5px;
	font-weight:500;
	line-height:24px;
	font-size:14px;
}

#author_posts_page article.post{
	float:left;
	width:33.33%;
	padding:0 15px 30px;
}




/**
 *	15.0 - Page 404
 */

body.error404 #page-content{
	padding-top:0;
}
#error404_container{
	padding:100px 0;
}
#error404_container.page_404_bg{
	background-size:cover;
	background-position:center center;
}
#error404_container h1{
	margin-bottom:20px;
	line-height:288px;
	font-size:300px;
}
#error404_container h2{
	margin-bottom:48px;
	line-height:50px;
	font-size:38px;
}

#error404_container .btnback{
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	font-weight:700;
	line-height:23px;
	font-size:14px;
}
#error404_container .btnback:hover{
	color:#222;
}




/**
 *	16.0 - Page Search Result
 */

#search-result-list #error404-container{
	padding-bottom:200px;
	padding-top:130px;
}
#search-result-list .post-content-wrapper{
	margin-bottom:50px;
	padding-bottom:20px;
	border-bottom:1px solid rgba(34,34,34,0.1);
}
#search-result-list article:last-child .post-content-wrapper{
	margin-bottom:50px;
	padding-bottom:20px;
	border-bottom:0;
}
#error404-container h4{
	text-transform:none;
	font-weight:500;
}
#search-result-list .post-meta-date{
	display:block;
	margin-bottom:8px;
	line-height:24px;
	font-size:14px;
	color:rgba(34,34,34,0.75);
}
#search-result-list .post-title{
	margin-bottom:10px;
	font-weight:500;
	line-height:38px;
	font-size:32px;
}
#search-result-list .post-descr-wrap{
	padding:0 16%;
}

#search-result-list .eva-pagination{
	text-align:center;
}




/**
 *	Coming Soon Page
 */

.coming_soon_container{
	text-align:center;
}
.coming_soon_wrapper{
	background-repeat:none-repat;
	background-size:cover;
	background-position:center center;
}
.coming_soon_wrapper h1{
	position:relative;
	margin:0 0 11px;
	text-transform:none;
	font-weight:500;
	line-height:80px;
	font-size:80px;
	color:#fff;
}
.coming_soon_wrapper p.coming_descr{
	margin: 0;
	line-height:26px;
	font-size:27px;
	color:rgba(255,255,255,0.75);
}


/* Countdown */
.coming_soon_wrapper ul.countdown{
	position:relative;
	margin:0 -150px;
	padding:56px 150px 73px;
	list-style:none;
}
.coming_soon_wrapper ul.countdown li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	min-width:170px;
}
.coming_soon_wrapper ul.countdown li:after{
	content:'';
	position:absolute;
	top:50%;
	right:-10px;
	margin-top:-10px;
	width:20px;
	height:2px;
}
.coming_soon_wrapper ul.countdown li:last-child:after{
	display:none;
}
.coming_soon_wrapper ul.countdown li span{
	display:block;
	font-weight:700;
	line-height:80px;
	font-size:70px;
	color:rgba(255,255,255,0.4);
}
.coming_soon_wrapper ul.countdown li p{
	margin:0;
	padding:0 0 0 3px;
	text-transform:uppercase;
	line-height:24px;
	font-size:14px;
	color:rgba(255,255,255,0.4);
}

.coming-soon-social-links{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:40px 0;
	border-top:1px solid rgba(255,255,255,0.1);
}
.coming-soon-social-links .social_links a{
	margin:0 30px;
}
.coming-soon-social-links .social_links a i{
	color:#fff;
}




/**
 * 20.0 - Footer
 */

footer{
	overflow:hidden;
	position:relative;
	z-index:100;
	width:100%;
	color:rgba(255,255,255,0.7);
	background-color:#222;
}
footer a{
	color:#fff;
}

.copyright_block{
	margin-bottom:-27px;
}
.copyright_block.ReduxFrameworkDisable{
	margin-bottom:0;
	padding:30px 0;
}

#instagram_wrap,
#blog-single-wrap.format-status .pf_instagram_wrap{
	overflow:hidden;
	position:relative;
}
#instagram_wrap .instagram-pics,
#blog-single-wrap.format-status .pf_instagram_wrap .instagram-pics{
	margin:0;
	list-style:none;
}
#instagram_wrap .instagram-pics li,
#blog-single-wrap.format-status .pf_instagram_wrap li{
	position:relative;
	float:left;
	width:16.6667%;
	text-align:center;
}
#blog-single-wrap.format-status .pf_instagram_wrap li{
	width:20%;
}
#instagram_wrap .instagram-pics li a,
#blog-single-wrap.format-status .pf_instagram_wrap li a{
	display:block;
	background-color:#222;
}
#instagram_wrap .instagram-pics li img,
#blog-single-wrap.format-status .pf_instagram_wrap li img{
	width:100%;
	transition: opacity 0.2s ease-in-out;
}
#instagram_wrap .instagram-pics li:hover img,
#blog-single-wrap.format-status .pf_instagram_wrap li:hover img{
	opacity:0.5;
}
#instagram_wrap .footer_instagram_user_btn{
	position:absolute;
	z-index:10;
	left:50%;
	bottom:0;
	margin:0;
	padding:2px 14px;
	color:#222;
	background-color:#fff;
	transform:translateX(-50%);
}
#instagram_wrap .footer_instagram_user_btn:hover{
	color:#fff;
	background-color:#222;
}
#instagram_wrap .footer_instagram_user_btn i{
	margin-right:6px;
}
#instagram_wrap .instagram_meta,
#blog-single-wrap.format-status .pf_instagram_wrap .instagram_meta{
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	margin-top:-9px;
	line-height:18px;
	font-size:16px;
	color:#fff;
	opacity:0;
	transition: opacity 0.2s ease-in-out;
}
#instagram_wrap .instagram-pics li:hover .instagram_meta,
#blog-single-wrap.format-status .pf_instagram_wrap li:hover .instagram_meta{
	opacity:1;
}
#instagram_wrap .instagram_meta span,
#blog-single-wrap.format-status .pf_instagram_wrap .instagram_meta span{
	display:inline-block;
	vertical-align:middle;
	margin:0 10px;
}
#instagram_wrap .instagram_meta span i,
#blog-single-wrap.format-status .pf_instagram_wrap .instagram_meta span i{
	display:inline-block;
	margin:0 5px 0 0;
	font-size:14px;
}


/* Footer Posts Carousel */
#footer_posts_carousel{
	padding-top:33px;
	padding-bottom:72px;
}
#footer_posts_carousel h5{
	margin:0 0 32px;
	color:#fff;
}
.footer_posts_carousel_item .post_format_content{
	display:block;
	margin-bottom:15px;
}
#footer_posts_carousel h5.footer_posts_carousel_title{
	margin:0 0 11px;
	line-height:20px;
	font-size:16px;
}
.footer_posts_carousel_title a{
	color:#fff;
}
.footer_posts_carousel_date{
	display:block;
	font-weight:400;
	line-height:22px;
	font-size:14px;
	color:rgba(255,255,255,0.5);
}


/* Copyright */
footer .copyright{
	line-height:28px;
	font-size:14px;
	color: rgba(255,255,255,0.25);
}

#prefooter_area{
	padding-top:60px;
	padding-bottom:30px;
	border-top:1px solid rgba(255,255,255,0.1);
}



/**
 * 21.0 - Custom class styles
 */

.mt-60{margin-top:-60px;}
.mt-40{margin-top:-40px;}
.mt-20{margin-top:-20px;}
.mt-15{margin-top:-15px;}
.mt0{margin-top:0;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt25{margin-top:25px;}
.mt60{margin-top:60px;}

.mb-10{margin-bottom:-10px;}
.mb-20{margin-bottom:-20px;}
.mb0{margin-bottom:0px !important;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb55{margin-bottom:55px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb100{margin-bottom:100px;}

.ml-40{margin-left:-40px;}
.ml-30{margin-left:-30px;}
.ml0{margin-left:0px;}
.ml40{margin-left:40px;}

.mr-40{margin-right:-40px;}
.mr-30{margin-right:-30px;}
.mr0{margin-right:0px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr40{margin-right:40px;}


.pl40{padding-left:40px;}

.pr40{padding-right:40px;}

.pb40{padding-bottom:40px;}